/* Id$ */
.pager {text-align: center;}
.pager .ui-btn-inner { padding: 5px 10px; }
.region-populated { display: none; }

.pager.ui-controlgroup {
  margin-top: 25px;
}
.ui-select { width: auto !important; }

/* media queries */

@media all and (min-width: 650px) {
  .content-secondary {
    text-align: left;
    float: left;
    width: 45%;
    background: none;
    border-top: 0;
    margin: 0;
    padding: 0;
  }

  .content-primary {
    width: 45%;
    float: right;
    margin: 0;
    padding: 0;
  }
}
@media all and (min-width: 750px) {
  .content-secondary {
    width: 34%;
  }
  .content-primary {
   /* width: 56%;*/
    padding-right: 1%;
  }  
}

@media all and (min-width: 1200px) {
  .content-secondary {
    width: 30%;
    padding-right:6%;
    margin: 0;
  }
  .content-primary {
   /* width: 50%;*/
    margin-right: 5%;
    padding-right: 3%;
  }
}

.ui-listview .views-field-body{
  margin-top:10px;
  color:#fff;
}
.page-resources .content-primary
{
  float:none !important;
  padding:0 !important;
  margin:0 auto;
}

.ui-body-b .content-primary{
  float:none !important;
  padding:0 !important;
  margin:0 auto;
  
}

.page-resources .content-primary li{
  
  /* background: -moz-linear-gradient(center top  #5F9CC5, #396B9E) repeat scroll 0 0 #2567AB !important;*/
  background: center #396B9E !important;
   border:1px solid #145072 !important;
   text-shadow:0 -1px 1px #145072 !important;
   list-style:none;
  
}
.ui-listview li {
  background: center #396B9E !important;
   border:1px solid #145072 !important;
   text-shadow:0 -1px 1px #145072 !important;
   list-style:none;
  
}

.ui-listview li a{
   color:#fff !important;
  
}

.page-resources li a{
  color:#fff !important;
}

ul.mobile-home  li{
  padding:10px;
  text-align:center;
   background: center #396B9E !important;
   border:1px solid #145072 !important;
   text-shadow:0 -1px 1px #145072 !important;
   list-style:none;
   
   
}
ul.mobile-home  li a {color:#fff !important; }
.ui-title{
 /* text-align:left !important;*/
}

#node-6672 h2{
 font-size:20px;
}

.views-field-name{
background:url("mobile_arrow.png") no-repeat scroll right top transparent;
}


.ui-body-b .field-content a{
  display:block;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
    display: block;
    padding: 1.5em 15px !important;
}

.ui-header .ui-title, .ui-footer .ui-title {
  text-align:left !important;
  margin: 0.6em 46px 0.8em !important;
}

.ui-body-b {
    background: none repeat scroll 0 0 #C0C0C0 !important;
    }