<!-- $Id: openlayers-api-theming.html,v 1.2.2.1 2009/10/24 23:28:18 tmcw Exp $ -->
This documentation can be found in the <em>docs/THEMING.txt</em> file and may be more up to date and verbose.

<code>
theme_openlayers_map($map = array())
</code>
<ul><li>
The basic display for the map to render in.
</li></ul>

<code>
theme_openlayers_styles($styles = array(), $map = array())
</code>
<ul><li>
Does not change HTML, this is used to alter the main default style array.
</li></ul>

<code>
theme_openlayers_behaviors_tooltip_container($behavior = array(), $map = array())
</code>
<ul><li>
Output for tooltip containers
</li></ul>

<code>
theme_openlayers_presets_ui_form_layer_description($layer_title = '', $layer_description = '')
</code>
<ul><li>
Output for listing of layer descriptions in Preset UI.
</li></ul>

<code>
theme_openlayers_presets_ui_form_projection_description($projection_title = '', $available_layers = array(), $layers = array())
</code>
<ul><li>
Output for listing of projections in Preset UI.
</li></ul>

<code>
theme_openlayers_views_feature_style($view = NULL, $row = NULL, $group = NULL)
</code>
<ul><li>
This allow you to override the styles for each feature that is rendered in a view.  Again, this does not change the output of HTML.
</li></ul>
