<!-- $Id: openlayers-map-array-options.html,v 1.2 2009/09/21 04:36:30 zzolo Exp $ -->
The following describes map options.  Example:

<pre><code>
  $default_map = array(
    'options' => array(
      'displayProjection' => '4326',
      'maxResolution' => 156543.0339,
      'maxExtent' => array(
        'left' => -20037508.34,
        'bottom' => -20037508.34,
        'right' => 20037508.34,
        'top' => 20037508.34,
      ),
      'fractionalZoom' => ??
    ),
  );
</code></pre>

<ul>
  <li><strong>displayProjection</strong>
    <dl>
      <dt>Values:</dt>
        <dd>string (number)</dd>
      <dt>Description:</dt>
        <dd>The display projection to use.</dd>
      <dt>Example:</dt>
        <dd>'4326'</dd>
    </dl>
  </li>
  
  <li><strong>maxResolution</strong>
    <dl>
      <dt>Values:</dt>
        <dd>float</dd>
      <dt>Description:</dt>
        <dd>The max resolution.</dd>
      <dt>Example:</dt>
        <dd>156543.0339</dd>
    </dl>
  </li>
  
  <li><strong>maxExtent</strong>
    <dl>
      <dt>Values:</dt>
        <dd>array</dd>
      <dt>Description:</dt>
        <dd>An array of maximum extent that will be shown.  This should include the values: left, right, bottom, top.</dd>
      <dt>Example:</dt>
        <dd>
<pre>
array(
  'left' => -20037508.34,
  'bottom' => -20037508.34,
  'right' => 20037508.34,
  'top' => 20037508.34,
),
</pre>
        </dd>
    </dl>
  </li>
  
  <li><strong>fractionalZoom</strong>
    <dl>
      <dt>Values:</dt>
        <dd>float</dd>
      <dt>Description:</dt>
        <dd>??</dd>
      <dt>Example:</dt>
        <dd>??</dd>
    </dl>
  </li>
</ul>