.seeAllSub {
margin:40px 0 5px;
}

#homepage_right_top_a ul li {
        padding: 7px 0 5px 0;
}
#homepage_right_top_b ul li {
        padding: 7px 0 5px 0;
}


#content-area .node-inner #rlLanding_common_container {
    width: 96%;
}

.slide-header{
  filter:alpha(opacity=60);
}

#views-cycle-rotating_image-block_1 .slide-header {
  margin-top: -63px;
}

#homepage_right_top_a .block-inner h3 {
    margin-bottom: 7px;
    width: 80px;
}

#homepage_right_top_b .block-inner h3 {
    margin-bottom: 7px;
    margin-left: 10px;
    width: 80px;
}

.seeAllSub {
  margin:7px 0 5px;
}

#backgroundPopup {
        background:#000000 none repeat scroll 0%;
        border:1px solid #CECECE;
        display:none;
        height:100%;
        left:0pt;
        position:fixed;
        top:0pt;
        width:100%;
        z-index:100;
    }
    #resourceByCategory {
        background:#FFFFFF none repeat scroll;
        background-position:center;
        border:10px solid #CECECE;
        display:none;
        font-size:13px;
        /*height:274px;*/
        padding:12px;
        position:fixed;
        width:80%;
        z-index:200;
        /*margin-top:-20% !important;
        margin-left:-27% !important;*/
    }
    #resourceByCategory h1 {
        background:transparent no-repeat scroll 0% 0%;
        color:#FBB815;
        font-size:18px;
        font-weight:700;
        margin-bottom:20px;
        padding-bottom:2px;
        text-align:left;
            padding-left:45px;
            margin-left:-3px;
    }
    
    #popupLoginClose {
        color:#FBB815;
        display:block;
        font-size:14px;
        font-weight:700;
        line-height:14px;
        position:absolute;
        right:6px;
        top:4px;
        cursor: pointer;
    }
    
    #user-login .form-text {
        width: 200px;
        border: 1px solid #c0c0c0;
    }

#logo-title a {
        font-size:20px;
}

/*#block-block-25 p.gallery-links a.solomon,
.photo-browse-all-wrap p.gallery-links a.solomon{
	margin-left: 14px;
}*/