
/** Layout
---------------------------------
*  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
*  
*  1. Header
*  2. Content
*  3. Navigation menus
*  4. Sidebar Left
*  5. Sideabr Right
*	
*/

.cea-page {
    background-image: url('images/back_strip.gif');
    background-repeat: repeat-x;
}
#page {
	width: 960px; /* edit to change the width of the page */
	margin: 0 auto; /* remove 'auto' and the width to switch to a fluid width */
}

/** LAYOUT RULES
--------------------------------- 
*  do not change if you're not sure you know what you're doing
*/

#content {
  float: left;
  background-color: #E8E8E8;  
}

#sidebar-second {
  float: right;
}

#footer {
  float: none;
  clear: both;  
}

/* Layout Helpers */

#header, #footer, .mission, .breadcrumb, .node {
  clear: both;
}

/** Sidebars width
---------------------------------
*  Changing the width of the sidebars is dead easy, just change the
*  values below corresponding to the sidebar you want to modify.
*  Make sure you keep negative values as negative values.
*  For example, if I want to increase the width of the left sidebar
*  to 300px, I would have to change each '190' to '300'.
*/

.two-sidebars .center,
.sidebar-left .center {
    
}
#sidebar-first {
     float: left;
    margin: 8px 0;
    padding: 0 12px;
    width: 274px;
}

.two-sidebars .center,
.sidebar-right .center {
  /*margin-right: 200px;    /* RIGHT value */
}
#sidebar-second {
  width: 200px;           /* RIGHT value */
}

/** Columns inner
---------------------------------
*  You can change the padding inside the columns without changing the
*  width of them by just usinbg the INNER div of each column
*/

.inner {
	padding: 0px;
}

/** Navigation styles
---------------------------------
*  The navigation is loaded after the content, so we need to make space
*  for it, equal to its height, so if you change the height of the navigation,
*  remember to adapt the margin top of the content and sidebars.
*/

#navigation {
  /*float: left;*/
  margin-left: 0;
  padding: 0;
  width: 100%;
}

#navigation {
  height: 40px;            /* Navigation Height */
}

/** Site Header Region */
#page #header {
    
}

/** Site logo
*/
#header #logo-title {
    float: left;
    height: 119px;
    margin-left: -1px;
    width: 505px;
}

#header #site-header {
    /*width: 548px;*/
     float: left;
    height: 127px;
    width: 435px;
}

#logo-title{
    float: left;
    padding-left: 20px;
    padding-top: 11px;
}

#logo-title img{
    float: left;
     margin-right: 29px;
}

#logo-title a{
      font-size: 21px;
    font-weight: bold;
    line-height:136%;
    text-decoration:none;
}
#mission{
    
    float: right;
    margin-top: 5px;
    width: 408px;
}
/** Site primary menu
*/
#primary_menu{
    
}

#primary_menu .menu_links{
    float: left;
    background-image: url('images/menu_strip.gif');
    background-repeat: repeat-x;
    /*width: 744px;*/
    width:960px;
    height: 34px;
}

/*
.div_border{
    border: 1px solid #FFFFFF;
}*/

#content_middle{
    
    width:608px;
    float:left;
    
}
/**Site search
*/

#site-header .site_search{
     background-color: #F7F7F7;  
    margin-bottom: 8px;
    float:right;
    margin-right:11px;
}

#sidebar-first .site_search .div_border{
    padding: 10px;
    border: 1px solid #FFFFFF;
}


.site_search #search_cti_field {
    /*background-color:#EBEBEB;
    border:1px solid #FFFFFF;*/
    height:48px;
}

.site_search .search_label {
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    height:30px;
}

.site_search .search_cti_box .search_field_box {
    float:left;
    width:218px;
}

.site_search .search_cti_box .search_field_button {
    float:left;
    margin-top:10px;
}

.site_search .search_cti_box .search_field_box .search_cti {
    border:1px solid #DDDDDD;
    height:21px;
    margin:10px;
    width:202px;
    font-size: 16px;
    color:#c0c0c0;
}

.site_search .search_cti_box .search-form-submit {
    background-image:url(images/glass.png);
    border:0 none;
    cursor:pointer;
    height:23px;
    width:24px;
}


/**
 * Home page region
*/

#main #content #left_region{
    float: left;
    width: 241px;
}

#main #content #right_region{
    float: left;
    width: 735px;
}

#main #content #right_region .page_top .top{
    float: left;
    width: 186px;
}


/*Added for the views-view-unformatted--Highlights-in-Homepage--block.tpl.php	*/
.view-id-Highlights_in_Homepage .view-content .item-list ul li{
    display:inline;
    list-style:none;
    width:248px;
    margin:0px;
    margin-left:5px;
    float:left;
    padding:0px;
}

.view-id-Highlights_in_Homepage .view-content .item-list .views-field-teaser .field-content p{
    width:222px;
    text-align:justify;
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-title .views-field-title{
    width:100%;
    margin:0px;
    margin-left:5px;
    float:left;
    padding:0px;
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-title .views-field-field-image-fid{
    width:100%;
    margin:0px;
    margin-left:5px;
    float:left;
    padding:0px;
}


.view-id-Highlights_in_Homepage .view-content .views-row .views-field-field-image-fid .field-content a img{
    border:1px solid #c0c0c0;
    padding:2px;
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-title .views-field-teaser{
    width:100%;
    margin:0px;
    margin-left:5px;
    float:left;
    padding:0px;
}

.view-id-Highlights_in_Homepage .view-content .views-row-first {    
    margin:5px 8px 0 5px !important;
}

.view-id-Highlights_in_Homepage .view-content .views-row {
    float:left;
    margin:5px 8px 0 7px;
    width:191px;
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-view-node a{
  color: #012A6C;
  font-size: 11px;
  float:right;
}

.view-id-Highlights_in_Homepage .view-content .views-row-4 {    
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-teaser {
    float:left; 
    width:99% !important;
    height:51px;
}

#content #content-inner .bottomHighLightContainer .bottomLeftData .div_border{
    padding: 0px;
}

#bottom_highlights_left{    
    float:left;    
    overflow:hidden;
    padding:14px;
}

#block-views-Highlights_in_Homepage-block_1 .block-inner{
    margin-left:0px;
}

#block-views-Highlights_in_Homepage-block_1 .block-inner h3 {    
    margin-left:6px;
    margin-top:8px;
}

.view-Highlights-in-Homepage .view-content{
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-title a{   
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-title{
    margin-top:10px !important;
    margin-bottom:14px;
    overflow:hidden;
    height:31px;
}

.view-id-Highlights_in_Homepage .view-content .views-row .views-field-body{
   /* text-align:justify;*/
}

/* Just for the bottom container */
.bottomHighLightContainer{
    float:left;
    width:100%;    
}

.bottomLeftData{   
    float:left;
    margin-bottom:10px;
    width:636px;
}

.bottomRightData{    
    /*float:left;    
    margin:0px auto 0px 12px;
    width:29.8%;*/
    float:left;
    margin:0 auto 0 8px;
    width:190px;
}

/* Just For the Nice menus */
#nice_menu .menu_links{
    float: left;
    background-image: url('images/menu_strip.gif');
    background-repeat: repeat-x;    
    width:960px;
    height: 34px;
}

/*.block-inner{
 float:left;
}*/

#block-menu-menu-nice-menu .block-inner .content ul li{
    list-style:none;
    margin:0px;
    display:inline;
    width:146px;
    line-height:29px;
    float:left;
    text-align:center;
    font-size:16px;
    border-right:1px solid #fff;
}


#block-menu-menu-nice-menu .block-inner .content ul li a{
    color:#fff;
    font-weight:bold;
}

/* Just for the homepage extrem top Block */
.block-homepage_extrem_top  {
    float:left;
    margin:0 auto;
    padding:0;    
}

.block-homepage_extrem_top .block-inner .block-title{    
    color:#639FCE;    
    font-weight:bold;
}

.block-homepage_extrem_top .block-inner{    
    float:left;    
}

#homepage_extrem_top{
    width:100%;
    float:left;
    border: 1px solid #DDCDAF;
    margin-top: 8px;
}

#homepage_extrem_top .div_border{
    background-color:#F9F7EE;
    border:1px solid #FFFFFF;
    padding:6px 8px 12px 8px;
}

/* Just for the homepage_right_top_a */
.common{
    float:left;
    width:100%;
    margin:0px auto;
    
}

.secondMiddleContainer{    
   width: 648px;border: 1px solid #ADD8E6;
}

#main .secondMiddleContainer .div_border{
    padding:14px 0 0 14px;
    border: 1px solid #FFFFFF;
}

#homepage_right_top_a .block-homepage_right_top_a{
    /*margin-left:20px;*/
}

#homepage_right_top_a,
#block-block-21 {
    float:left;
}
#block-block-21 {
    width:160px;
}
#homepage_right_top_a {
    width:156px;
}
#block-block-21 {
    margin-bottom: 20px;
}

#homepage_right_top_a .block-homepage_right_top_a .block-inner{
    float:left;
    width:100%;
    margin:0px auto;
}

#homepage_right_top_a .block-id-94 .block-inner .content{
    border-right: 1px solid #CFCCC7;
    float: left;
    padding-bottom: 5px;
}


#homepage_right_top_a .block-homepage_right_top_a .block-inner .block-title{
   /* margin-top:20px;*/    
    font-weight:bold;
}

#homepage_right_top_a .block-homepage_right_top_a .block-inner .content .view-content ul{
    width:100%;    
    float:left;
    padding:0px !important;
}

#homepage_right_top_a .block-homepage_right_top_a .block-inner .content .view-content ul li{
    color:#3C5B8A;
    margin:0px;
    padding:0px;
    float:left;
    width:92%;    
    line-height:28px;
    list-style:none;    
    border-bottom:2px dotted #DADAD2;
}

/* Just for the homepage_right_top_b */
#homepage_right_top_b .block-homepage_right_top_b{
    margin-left:13px;
}

#homepage_right_top_b .block-homepage_right_top_b .content{
    border-right: 1px solid #CFCCC7;
    float: left;
    padding-bottom: 5px;
}


#homepage_right_top_b,
#block-block-22 {
    float:left;
    margin-right:12px;
}
#block-block-22 {
    width:185px;
}
#homepage_right_top_b {
    width:170px;
}
#homepage_right_top_b .block-homepage_right_top_b .block-inner{
    float:left;
    width:100%;
    margin:0px auto;
}

#homepage_right_top_b .block-homepage_right_top_b .block-inner .block-title{  
    font-weight:bold;
}

#homepage_right_top_b .block-homepage_right_top_b .block-inner .content .view-content ul{
    width:100%;    
    float:left;
    padding:0px !important;
}

#homepage_right_top_b .block-homepage_right_top_b .block-inner .content .view-content ul li{
    color:#3C5B8A;
    margin:0px;
    padding:0px;
    float:left;
    width:90%;    
    line-height:28px;
    list-style:none;    
    border-bottom:2px dotted #DADAD2;
}

#content {   
    float:left;
    margin:8px 0px 0 auto;
    width:638px;
}

#content .secondMiddleContainer .div_border {
    background-color: #F9F7EE;
    padding: 14px;
}

#main{
    width:960px;
    margin:0px auto;
}

/* Footer menu */
#footer .footer_layout{
    float: left;
}

#footer #footer_left{
    width: 7px;
    height: 32px;
    background-image: url('images/footer_left.png');
    background-repeat: no-repeat;
}
#footer #footer_body{
    float: left;
    width: 960px;
    height: 32px;
    background-image: url('images/footer_bg.jpg');
    background-repeat: repeat-x
}
#footer #footer_right{
    width: 7px;
    height: 32px;
    background-image: url('images/footer_right.png');
    background-repeat: no-repeat;
}

#footer #footer_body .block .content{
    clear: both;
}

#footer #footer_body .block .content ul li {
    display:inline;
    float:left;
    padding:8px;
}

#footer #footer_body .block .content ul li a{
    color: #FFFFFF;
    font-size: 14px;
}

/* Featured Resources */
#block-views-featured_resources_home-block_1 {
    border: 1px solid #DDCDAF;    
    margin-bottom: 8px;
}

#block-views-featured_resources_home-block_1 .view-featured-resources-home .view-content {
 /*padding:0 14px 14px;*/
}

#block-views-featured_resources_home-block_1 .block-inner {
    padding: 10px;
    border: 1px solid #FFFFFF;
    background-color: #F9F7EE;
}


#block-views-latest_events-block_1 .block-inner{
    background-color:#F9F7EE;
    /*border:1px solid #FFFFFF;*/
   /* padding:10px;*/
}

/*css for the event page*/


#content #content-inner{
    width:630px;
    float:left;
    background-color:#F9F7EE;
    border:1px solid #E5D9C3;
}

#content  #content-inner #content-header .title{
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    height:30px;
    padding-left:10px;
    padding-top:10px;
}

#content #content-inner #content-area .view{
    background-color:#FFFFFF;
    float:left;
    margin-left:14px;
    margin-bottom:15px;
    margin-top:15px;
    width:600px;
    border:1px solid #DDCDAF;
}





.thirdMiddleContainder{    
    float:left;
    width:636px;
}

#resourceByCategory tbody{
    border:0px solid #000;
}


/* Has been added for the primary menus */
#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul{
    padding:0px;
    margin:0px;
}

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul li{
    display:inline;
    float:left;
    line-height:35px;
    list-style:none outside none;
    margin:0;
    padding:0;
    text-align:center;
    width:160px;
}

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul li:hover{    
    background: url("images/menu_border.png") no-repeat scroll 100% 0% transparent;
}

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul li a{    
    background: url("images/menu_background.jpg") repeat-x scroll center bottom transparent;
    color:#FFFFFF;
    float:left;
    font-size:17px;
    line-height:38px;
    width:99%;
    margin-right:2px;
}

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul li a:hover{
    text-decoration:none;    
    width:99%;
    margin-right:2px;
    color:#B11117;
}

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul li a.active{
    text-decoration:none;
    background: url("images/menu_background.png") repeat-x scroll center top transparent;
    width:99%;
    margin-right:2px;
}  

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul .last a, #nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul .last a.active{
    border:0px solid #fff !important;
    width:100%;
    margin:0px;
}

#nice_menu .nice_menu_links .block .block-inner .content .menu-name-primary-links ul .last a:hover{
    border:0px solid #fff !important;
    width:100%;
    margin:0px;
}

#nice_menu .nice_menu_links .block .block-inner{
    background-color:#cccccc;
}

#block-menu_block-1{
     background: url("images/nev_bg.jpg") repeat-x scroll 100% 0 transparent;
    float: left;
    margin-left: -0.3px;
    width: 961px;
}

/* Only for the page.tpl.php and it's related files */
#content_page {
  float: left;
  /*background-color: #E8E8E8;  */
}

#main #content_page #left_region{
    float: left;
    width: 241px;
}

#main #content_page #right_region{
    float: left;
    width: 735px;
}

#main #content_page #right_region .page_top .top{
    float: left;
    width: 186px;
}

#content_page {   
    float:left;
    margin:8px 0px 0 auto;
    /*width:638px;*/
}

#content_page .secondMiddleContainer .div_border {
    background-color: #F9F7EE;    
}

#content_page #content-inner{
    width:628px;
    float:left;
    background-color:#FFFFFF;
    border:1px solid #ADD8E6;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
}

.page-country-gallery #content_page #content-inner {
    min-height: 550px !important;
}

#content_page  #content-inner #content-header .title{
    color:#639FCE;
    font-size:14px;
    font-weight:bold;    
    padding-left:5px;
    padding-top:14px;
    margin-bottom:10px;
}

#content_page #content-inner #content-bottom .view-resource-library{
    float:left;    
    width:608px;
    padding-left:14px;
}

#content_page #content-inner #content-bottom .view-resource-library .view-content #exposeViewId{
  border:1px solid #000;   
}

#content_page #content-inner #content-bottom .view-resource-library .view-content{
    float:left;
    margin:0 0 0 10px;
    width:610px;
}

#content_page #content-inner #content-bottom .view-resource-library .view-content .views-row{
    padding:9px 0px;
    margin-left:14px;
}

#content_page #content-inner #content-bottom .view-resource-library .view-content .views-row .views-field-title{
    font-size:14px;
    font-weight:bold;
}


/* This css code will be used only for resource library page (views-view-unformatted--resource-library-tpl.php) */
.view-resource-library .view-content #rl_common_container  {
    float:left;
    margin:0 auto 0 4px;
    width:597px;
}

.rl_commonExeptWidth{
    /*margin:0px 2px 0px 0px;*/
    float: left;
    /*margin-left: 15px;*/
}
.node-type-news .rl_commonExeptWidth {
    float: right;
    margin-left: 15px;
}
.rl_commonExeptWidth.rl_leftImage img {
   /* margin: 5px;*/
    float:left;
  /*  padding: 5px;*/
    border: 1px solid #c0c0c0;
/*		margin-bottom: 10px;*/
/*    margin-left: 10px;*/
}

.view-resource-library .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin:0;
    padding:12px 0;
    width:98%;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:9%;
    padding-left:15px;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:84%;
    text-align:justify;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.view-resource-library .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
}

#content_page #content-inner #content-bottom .view-resource-library .item-list .pager{    
    margin-left:0px; 
}

/* This css code will be used only for Resource by subject page (vviews-view--resource-library--block.tpl) */
.view-resource-by-subject .view-content #rl_common_container  {
    float:left;
    margin:0 auto 0 14px;
    width:597px;
}


.view-resource-by-subject .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin:0 0 7px 0;
    padding:12px 0 5px 0;
    width:98%;
}

.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:6%;
    /*margin-left:15px;*/
}

.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:88%;
    /*text-align:justify;*/
}
/*.node-type-news*/

.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.view-resource-by-subject .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
    height: 30px;
    width: 25px;
}

#content_page #content-inner #content-bottom .view-resource-by-subject .item-list .pager{    
    margin-left:0px; 
}




/* This css code will be used only for Resource by subject page (vviews-view--resource-library--block.tpl) */
.view-resource-by-subject .view-content #rl_common_container  {
    float:left;
    margin:12px auto 0 14px;
    width:597px;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin-left:12px;
    padding:12px 0;
    width:96%;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:9%;
    margin-left:15px;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:84%;
    text-align:justify;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.view-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
}

#content_page #content-inner #content-bottom .view-resource-by-country .item-list .pager{    
    margin-left:0px; 
}


/* From here it start event page contents */
#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li{
    display:inline;
    float:left;    
    list-style:none outside none;
    margin:0;
    padding:0;    
    font-size:15px;
    text-align:center;
    font-weight:bold;
}

#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a.active .quick_tabs_upper{
    width:195px;
    float:left;
    margin:0;
    height:25px;
    text-align:center;

}
#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a.active .quick_tabs_upper .quicktabs_tabs_left{
    width:10px;
    height:100px;
    float:left;
    margin:0;
    background-image:url("images/even_tab_left_grey.png");
    background-position:top left;
    background-repeat:no-repeat;
}

#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a.active .quick_tabs_upper .quicktabs_tabs_center{
    width:185px;
    float:left;
    background: url("images/even_tab_right_grey.png") repeat-x scroll center top transparent;
    height:100px;
    color:#000;
    padding-top:3px;
}

#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a.active  .quick_tabs_upper .quicktabs_tabs_right{
    width:0px;
    float:left;
    height:100px;
    background-image:none;
}
#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a:hover .quick_tabs_upper{
    width:230px;
    float:left;
    margin:0;
    height:25px;
    text-align:center;
}



#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a:hover .quick_tabs_upper .quicktabs_tabs_left{
    width:10px;
    height:100px;
    float:left;
    margin:0;
    background-image:url("images/even_tab_left.png");
    background-position:top left;
    background-repeat:no-repeat;
}

#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a:hover .quick_tabs_upper .quicktabs_tabs_center{
    width:185px;
    float:left;
    height:100px;
    background: url("images/even_tab_repeat.png") repeat-x scroll center top transparent;
    color:#FFFFFF;
    padding-top:3px;
}

#content_page #content-inner #content-area .view-event-all-view .view-content #quicktabs_events ul li  a:hover .quick_tabs_upper .quicktabs_tabs_right{
    width:16px;
    float:left;
    height:100px;
    background-image:url("images/even_tab_sort_tesc.png");
    background-position:top center;
    background-repeat:repeat-x;
}

/* Just for the Library Exposed widger form */

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget {
    /*height:323px;*/
    margin:0 auto;
    /*overflow:hidden;*/
    padding:0;
    width:197px;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #expose2, #quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #expose3{
    /*visibility:hidden;*/
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1,
#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_2{
    padding-left:30px;
    width:160px;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1 .form-checkboxes  #edit-tid-1-101-wrapper,
#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1 .form-checkboxes  #edit-tid-1-102-wrapper,
#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1 .form-checkboxes  #edit-tid-1-103-wrapper{
    display:none;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget #expose2{
    width:160px;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    /*background-color:#4E4E4E;
    color:#FFFFFF;*/
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    /*text-indent:30px;*/
    width:100%;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    padding-top:4px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:10px;
}

#quicktabs-9 .views-exposed-form .views-exposed-widgets .exposedViewInputContainer input{
    margin-top: 10px;
    cursor: pointer;
}

/*End of Quick Tab 9*/

/* Start of the quick tab 10 */
#quicktabs-10 {
  border-bottom:1px solid #C0C0C0;
  padding-left:5px;
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}

#quicktabs-10 ul{
    /*padding-left:12px;*/
}

#quicktabs-10 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid  {
    /*display:block;*/
}

#quicktabs_tabpage_10_0 .view-resource-by-subject .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#content_page #content-inner #content-top #block-quicktabs-10 .block-inner .title {
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    padding-left:10px;
    padding-top:18px;
}

/* End of the quick tab 10 */


/* Start of the quick tab 11 */


#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}

#quicktabs_11 ul{
    padding-left:12px;
}

#quicktabs_11 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1  {
    /*display:block;*/
}

#quicktabs_tabpage_11_0 .view-resource-by-subject .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#content_page #content-inner #content-top #block-quicktabs_11 .block-inner .title {
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    padding-left:10px;
    padding-top:18px;
}

/* End of the quick tab 11 */

/* Start of the quick tab 13 */
#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}

#quicktabs-13 ul{
    /*padding-left:12px;*/
}

#quicktabs-13 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1  {
    /*display:block;*/
}

#quicktabs_tabpage_13_0 .view-resource-by-subject .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#content_page #content-inner #content-top #block-quicktabs-13 .block-inner .title {
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    padding-left:10px;
    padding-top:18px;
}

/* End of the quick tab 13 */




/* Start of the Theming of views-view-unformatted--resource-by-subject--page.tpl */
#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}

#views-exposed-form-resource-by-subject-page-1 ul{
    padding-left:12px;
}

#views-exposed-form-resource-by-subject-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid  {
    /*display:block;*/
}

#quicktabs_tabpage_10_0 .view-resource-by-subject .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#content_page #content-inner #content-top #block-quicktabs-10 .block-inner .title {
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    padding-left:10px;
    padding-top:18px;
}

/* End of the Theming of views-view-unformatted--resource-by-subject--page.tpl */

/* Start of the Theming of views-exposed-form-resource-by-type-search-block-1, views-exposed-form-resource-by-type-search-block-2 */
#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget, #views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label,
#views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget label,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label,
#views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget label,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid,
#views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label, 
#views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget,
#views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}

#views-exposed-form-resource-by-type-search-block-1 ul, #views-exposed-form-resource-by-type-search-block-2 ul,
#views-exposed-form-resource-by-type-search-block-3 ul{
    padding-left:12px;
}

#views-exposed-form-resource-by-type-search-block-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1,
#views-exposed-form-resource-by-type-search-block-2 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1,
#views-exposed-form-resource-by-type-search-block-3 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid_1{
    /*display:block;*/
}

#quicktabs_tabpage_10_0 .view-resource-by-subject .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#content_page #content-inner #content-top #block-quicktabs-10 .block-inner .title {
    color:#639FCE;
    font-size:16px;
    font-weight:bold;
    padding-left:18px;
    padding-top:18px;
   
}


.view-resource-by-type-search .view-content #rl_common_container  {
    float:left;
    margin:12px auto 15px 17px;
    width:597px;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin:0;
    padding:12px 0;
    width:98%;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:9%;
    margin-left:15px;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:84%;
    text-align:left;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.view-resource-by-type-search .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
}

#content_page #content-inner #content-bottom .view-resource-by-type-search .item-list .pager{    
    margin-left:0px; 
}

/* End of the Theming of views-exposed-form-resource-by-type-search-block-2 */


#checkBoxContfilter-tid_1{
    /*display:none;*/
}

#checkBoxContfilter-tid{
       /*display:none;*/
}
.page-library #page #main #content_page #content-header .tabs{
    height:0px;
    margin:0px;
    padding:0px;
    display:none;
}

/* Upto here Library page */

/* Only for the bottom home container */
#bottom_rotor_container .div_border {
      border: 1px solid #ADD8E6;
    float: left;
    margin: 10px 0 0 auto;
    padding-left:12px;
    padding-top: 10px;
    width: 636px;
    background-color:#fff;
}

#block-views-rotor_image_contents-block_1 .block-inner{
    background-color:#F9F7EE;
    border:1px solid #FFFFFF;    
    padding:6px 0px 0 14px;
}

#block-views-rotor_image_contents-block_1 .block-inner h3.block-title{
    font-size:15px;
    margin-top:8px;
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items .rotor-content .views-field-title{
    width:99%;
    /*margin-top:3px;*/
    margin-bottom:7px;
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items .rotor-content .views-field-title a{
    line-height:1.3em;
    font-size:13px;
    margin-bottom:1em;   
    font-weight:bold;
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items .rotor-content .views-field-field-reports-content-value{
    width:408px;
    margin-right:14px;
    float:left;
    line-height:22px;
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items .rotor-content .views-field-field-image-fid {
    float:left;
    width:190px;
    /*margin-top:-18px;*/
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items .rotor-content .views-field-view-node {
    float:left;
    width:406px;
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 .rotor-items .rotor-content .views-field-field-image-fid img{
    border:1px solid #C0C0C0;
    padding:2px;
}
/* End of */


/* Start of the views-exposed-form-resource-by-country-page-1 */
#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}

#views-exposed-form-resource-by-country-page-1 ul{
    padding-left:12px;
}

#views-exposed-form-resource-by-country-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid  {
    /*display:block;*/
}

#quicktabs_tabpage_13_0 .view-resource-by-country .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#content_page #content-inner #content-top #block-quicktabs-13 .block-inner .title {
    color:#639FCE;
    font-size:16px;
    font-weight:bold;
    padding-left:18px;
    padding-top:18px;
   
}

/* End of the views-exposed-form-resource-by-country-page-1 */



/* Just for the Event block page */
 
#content_page  #content-inner #content-area  #view_all_events_main{
    width:608px;
    float:left;
    background-color:#FFFFFF;
    margin-left:14px;
}

#view_all_events_main .view_all_events_header{
    float:left;
    margin-left:10px;
    width:585px;
}

#view_all_events_main #view_all_events{
    float:left;
    margin-bottom:10px;
    width:600px;
    border:1px solid #FFFFFF;
}

#view_all_events .view_all_events_content {
    width:597px;
    float:left;
    padding-bottom:15px;
    padding-top:14px;
    border-bottom:1px solid #DBDBDB;
}

#view_all_events .view_all_events_content .view_all_event_calender{
    width:60px;
    float:left;
    margin-left:10px;
    height:60px;
    border:1px solid #103775;
}

#view_all_events .view_all_events_content .views-row {    
    width:400px;
    float:left;
    padding-left:14px;
}

#view_all_events .view_all_events_content .views-row .views-field-title {
    width:430px;
    float:left;
    padding-bottom:14px;    
}

#view_all_events .view_all_events_content .views-row  .views-field-title a{
    color:#103775;
    font-size:18px;
    margin-bottom:1em;
}

#view_all_events  .view_all_events_content .views-row  .views-field-field-start-date-value{
    width:430px;
    float:left;    
}

#view_all_events  .view_all_events_content .views-row  .views-field-body .field-content p{
    margin-top:15px;
    width:430px;
    float:left;    
}

#view_all_events .view_all_events_content .views-row-4{
    border-bottom:0px solid #000 !important;
    margin-bottom:10px;
}

#content_page  #content-inner .view .item-list .pager li{
    color:#98A8C5;
    font-size:12px;    
}

#content_page  #content-inner .view .item-list .pager a{
    color:#98A8C5;
}

#view_all_events_main #view_all_events_inner {
    border-bottom: 1px solid #C0C0C0;
    float: left;
    margin-bottom: 2px;
    padding-bottom: 2px;
    width: 100%;
}
.field-content .event_more_link{
    font-weight:normal;
}

.event_related_docs  .event_related_links .view-content .views-row .views-field-title span{
    background-image:url("doc_types/icon_pdf.gif");
    background-repeat:no-repeat;
    padding-left:20px;
}

.event_related_docs  .event_related_links .view-content .views-row .views-field-title spap a{
    font-weight:bold;
}

.event_related_docs  .event_related_links .view-content .views-row {
    border-bottom:1px solid #C0C0C0;
    margin-bottom:10px;
    width:610px;
}

.event_related_docs  .event_related_links .view-content .views-row .views-field-field-institutional-author-value{
    background-image:none;
    padding-left:20px;
    font-weight:bold;
}

.event_related_docs  .event_related_links .view-content .views-row .views-field-body{
    padding-left:20px;
}

.event_related_docs  .event_related_links .view-event-all-view .view-header p{
    margin:0px;
    padding:15px 0px 8px 0px;
}


#view_all_events_main #view_all_events_inner .view_all_events_header{	
    float:left;
    height:60px;
    margin-left:14px;
    width:50px;
    background: url("images/event_date.png") no-repeat scroll 100% 0% transparent;
}

#view_all_events_main  #view_all_events_inner .view_all_events_header .event_month{
    color: #FEFEFE;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-left: 0;
    padding-top: 15px;
    text-align: center;
    width: 50px;
}

#view_all_events_main  #view_all_events_inner .view_all_events_header .event_day{
   color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding-left: 1px;
    padding-top: 3px;
    text-align: center;
    width: 50px;
}

#view_all_events_main  #view_all_events_inner .view_all_events_header .event_year{
    width:50px;
    float:left;
    text-align:center;
    padding-top:8px;
    font-size:15px;
    font-weight:bold;
    padding-left:1px;
}

#view_all_events_main #view_all_events_inner .views-row .views-field-title{    
    float:left;
    font-size:12px;
    font-weight:bold;   
    margin-top:4px;    
    padding-left:5px;
}

#block-views-latest_events-block_1 #view_all_events_inner .views-row .views-field-title {		
		width: 73%;
}

.view-id-event_all_view #view_all_events_main #view_all_events_inner .views-row .views-field-title a {
    font-size:12px;
    font-weight:bold;
}

.field-content a{
    font-weight:normal;
}

#view_all_events_main #view_all_events_inner .views-row .views-field-field-start-date-value {
    width:87%;
    float:left;
    margin-top:5px;
    padding-left:5px;
}
    
#view_all_events_main #view_all_events_inner .views-row .views-field-body {
    float:left;
    margin-left:4px;
    width:98%;
}


#view_all_events_main #view_all_events_inner .views-row .views-field-body .field-content{
    font-size:12px;
}

#view_all_events_main #view_all_events_inner .views-row .views-field-view-node {
    float:left;
    margin-top:-28px;
    margin-left:16px;
    width:95%;
}

#view_all_events_main #view_all_events_inner .views-row .views-field-view-node a{
  color: #012A6C;
  font-size: 11px;
  float:right;
}

.page-events #page #main #content_page #content-header .title{
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    height:30px;
    margin:0px;
    padding-left:10px;
    padding-top:10px;
}

#content_page #content-inner #content-bottom .block-quicktabs .block-inner .content .quicktabs-style-garland .quicktabs_tabpage .view-event-all-view .item-list .pager {    
    float:left;
    margin-bottom:30px;
    margin-left:0;
    margin-top:-6px;
    padding-top:6px;
    width:598px;
}

#quicktabs_container_8 #quicktabs_tabpage_8_0, #quicktabs_container_8 #quicktabs_tabpage_8_1 {
		margin-top: 10px;
}

#quicktabs-8 .quicktabs_main.quicktabs-style-garland {
    border-top: 1px solid #C0C0C0;
    clear: both;
}

#quicktabs_container_8 #quicktabs_tabpage_8_0 .view-content, #quicktabs_container_8 #quicktabs_tabpage_8_1 .view-content {
		margin-left: 15px;
		margin-right: 20px;
}

#quicktabs-8 ul{
    margin-top:0px;
}

#content-bottom #block-quicktabs-8{
    /*width:610px;*/
    margin:0 0 14px 0px;    
}


/* Quick Tabs library page */
#quicktabs-9 ul{
   /* width:610px;
    padding-left:12px;*/
}

/* To theming Different pages individual pages */
#content_page #content-inner #content-area .view-id-featured_resources_home{
    padding: 0 14px 14px;
}

#content_page #content-inner #content-area .view-id-featured_resources_home .views-field-view-node{
    margin-top: -26px;
}

#content_page #content-inner #content-area .view-id-featured_resources_home .views-row{
    padding-bottom: 25px;
}

#page #main #content_page #content-inner #content-area .node .node-inner .content .field-field-image{
    padding-bottom: 0px;
}
#page #main #content_page #content-inner #content-area .node .node-inner .content .field-field-image img{    
    float: right;
    border: 1px solid #c0c0c0;
    padding: 4px;
}
#page #main #content_page #content-inner #content-area .node .node-inner .content {    
    padding: 5px; 
}
#page #main #content_page #content-inner #content-area .node .node-inner .content .field{    
    /*float: right;*/
    padding-bottom: 10px;
}
#page #main #content_page #content-inner #content-area .node .node-inner .taxonomy{
    padding-left: 14px;
    padding-right: 14px;
}
#page #main #content_page #content-inner #content-area .node .node-inner .taxonomy ul{
    padding: 0px;
}
#page #main #content_page #content-inner #content-area .node .node-inner .taxonomy ul li {
    display:inline;
    float:left;
    list-style:none outside none;
    padding-right:5px;
}

#page #main #content_page #content-inner #content-area .node .node-inner .page_links{
  padding-left: 14px, padding-right: 14px;
}
/*******************/

#block-quicktabs-9 .block-inner .content #quicktabs-9 #quicktabs_container_9 .view-resource-library .item-list ul.pager{
    float:none;
    margin-left:14px;    
}

/* Only for the quick tab */
.quickTabLeftDiv{    
    float:left;
    margin:0px auto;
}


ul.quicktabs_tabs.quicktabs-style-garland li.active .quickTabRightDiv{
    float:left;
    margin:0px auto;
    background:url("images/tab_right_down.png") no-repeat scroll right bottom #F9F7EE;
    padding-left:12px;
}

ul.quicktabs_tabs.quicktabs-style-garland li .quickTabRightDiv{
    float:left;
    margin:0px auto;
    background:url("images/tab_right_unactive.png") no-repeat scroll right bottom #F9F7EE;    
}

#quicktabs-8{
    margin-bottom:10px;
}

.exposedViewInputContainer  {
    padding-bottom:10px !important;
    padding-left:28px !important;
    width:559px !important;
}

/* Only for the each node page theming */
#content_page #content-inner #content-area .view-report-view .view-content{
    /*background-color:#FFFFFF;*/
    float:left;
    margin:10px 14px 0;
    width:610px; 
}

#content_page #content-inner #content-area .view-report-view .view-content .views-row{
    border-bottom:1px solid #C0C0C0;
    margin:0 0 0 6px;
    padding:12px 0;
    width:98%;
}

#content_page #content-inner .view-report-view .item-list .pager {
    width:610px !important;
}

#content_page #content-inner #content-area .view-report-view .view-content .views-row .views-field-title{
    font-size:14px;
    font-weight:bold;
}

#content_page #content-inner #content-area .view-report-view .view-content .views-row .views-field-tid{
    margin-top:5px;   
}

#content_page #content-inner #content-area .node-type-event .node-inner .content{
    font-size:12px;
    padding:10px 0px;
    text-align:justify;
}

#content_page #content-inner #content-area .node-type-event .node-inner .field-type-date{
    width:99%;
    margin:0px auto;
    float:left;
    padding-bottom:10px;
}

#content_page #content-inner #content-area .node-type-event .node-inner .field-type-date .field-label{
    width:18%;
    margin:0px auto;
    color:#639FCE;
    float:left;
}

#content_page #content-inner #content-area .node-type-event .node-inner .field-type-date .field-items{
    width:50%;
    margin:0px auto;
    float:left;
}

#content-area .node-inner #rlLanding_common_container {
		padding: 0px 5px 0px 5px;
}

/* Just for the Resource Library Document Landing page */
#content-area .node-type-document .node-inner #rlLanding_common_container {    
    float:left;
    margin:0 auto 0 14px;
    width:610px;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents{        
    border-bottom:1px solid #C0C0C0;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    padding-top:15px;
    width:98%;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents .rl_texonomyCont {    
    margin:0;
    padding:12px 0;
    width:99%;
    text-align:justify;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents .rl_texonomyCont .taxonomy ul.links li{
    display:inline;
    line-height:22px;
    list-style-type:none;
    padding-right:10px;
    text-align:justify;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents .content .fieldgroup .field .field-items .field-item img{
    width:300px;
    height:350px;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents .rl_leftImage{
    padding-right:10px;
    float:left;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents .rl_leftImage img{
    border:1px solid #C0C0C0;
    padding:2px;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .rl_eachContents .rl_rightContainer{    
    text-align:justify;
    margin:0px auto;
}

/* End of Resource Library Document Landing page */



/* Just for the Event Landing page */
#content-area .node-type-event .node-inner #rlLanding_common_container {    
    float:left;
    margin:0 auto 0 14px;
    width:610px;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents{        
    margin:0;
    padding:12px 0;
    width:98%;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents .rl_texonomyCont {    
    margin:0;
    padding:12px 0;
    width:99%;
    text-align:justify;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents .rl_texonomyCont .taxonomy ul.links li{
    display:inline;
    line-height:22px;
    list-style-type:none;
    padding-right:10px;
    text-align:justify;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents .content .fieldgroup .field .field-items .field-item img{
    width:300px;
    height:350px;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents .rl_leftImage{    
    padding:4px 10px 4px 0px;
    float:left;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents .rl_leftImage img{
    border:1px solid #C0C0C0;
    padding:2px;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .rl_eachContents .rl_rightContainer{    
    text-align:justify;
    margin:0px auto;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .common .rl_commonExeptWidth{
    padding-top:5px;
    width:99%;
}

.node-type-event #content-area .node-inner #rlLanding_common_container .common .rl_commonExeptWidth .fieldDateLabel{
    float:left;
    font-weight:bold;
    margin-bottom:10px;
}

#content-area .node-type-event .node-inner #rlLanding_common_container .common .rl_commonExeptWidth .fieldDateItem{
    float:left;
}
/* End of the Event Landing page */


/* Just for the View resource by subject */
#content-area .view-resource-by-subject .node-inner #rlLanding_common_container {    
    float:left;    
    width:610px;
}

#content-area .view-resource-by-subject .node-inner #rlLanding_common_container .rl_eachContents{        
    margin:0;
    width:98%;
}


#content-area .view-resource-by-subject .node-inner #rlLanding_common_container .rl_eachContents .rl_rightContainer{    
    text-align:justify;
    margin:0px auto;
}

#content-area .view-resource-by-subject .node-inner #rlLanding_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    
}

#content-area .view-resource-by-subject .node-inner #rlLanding_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy .title{
    color:#639FCE;
    font-size:14px;
    font-weight:bold;
    padding-top:18px;
}

#content-area .view-resource-by-subject .node-inner #rlLanding_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy .titleTerm{
    color:#639FCE;
    font-size:13px;
    font-weight:bold;
    padding-top:2px;
}

/* End of View resource by subject */


/* For the quick tab 12 */
#quicktabs-12 {
  border-bottom:1px solid #C0C0C0;
  padding-left:5px;
}

#content_page #content-inner #content-top #block-quicktabs-12 .block-inner .title {
    color:#639FCE;
    font-size:16px;
    font-weight:bold;
    padding-left:18px;
    padding-top:18px;
   
}



/* Start of the views-exposed-form-resource-by-type-search-page-1 */
#views-exposed-form-resource-by-type-search-page-1 ul{
    width:610px;
    padding-left:12px;
}


#block-views-exposed-form-resource-by-type-search-page-1 .block-inner .content #views-exposed-form-resource-by-type-search-page-1 #quicktabs_container_9 .view-resource-library .item-list ul.pager{
    float:none;
    margin-left:14px;    
}


#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget{
    width:609px;
    padding:0px;
    margin:0px auto;
    margin-left:14px;
}

#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;    
    color:#FFFFFF;
    float:left;
    font-size:14px;
    line-height:25px;    
    cursor:pointer;
    width:100%;
}

#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label{
    background-color:#4E4E4E;
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:100%;
}

#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget label#exposefilter-tid{ 
    margin-top:0px;
}

#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget .form-checkboxes .form-item label{
    background-color:transparent;
    float:left;        
    margin-top:10px;
    text-indent:30px;
    color:#372F22;
    color:#372F22;
    font:11px Verdana;
    letter-spacing:0.03em;
}

#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget #checkBoxContfilter-tid{
    /*display:block;*/
}

#views-exposed-form-resource-by-type-search-page-1 .views-exposed-form .views-exposed-widgets .views-exposed-widget .views-widget{
    float:left;
    width:100%;
    padding-bottom:5px;
}
/* End of the views-exposed-form-resource-by-type-search-page-1 */

/* To manage the link of texonomy */
.rl_commonExeptWidth .rl_texonomyCont .taxonomy{
    padding-top:8px;
}

.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul{    
    float:left;
    padding:0px;
    margin:0px;
}

.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul li{
    list-style:none;
    padding-right:5px;
    display:inline;
    float:left
}

.rl_commonExeptWidth .rl_texonomyCont .taxonomy ul li a:hover{
    
}

.buttonContainer #example_prev{
    width:80px;
    line-height:25px;
    
}

#rotor-view-id-rotor_image_contents-view-display-id-block_1 #buttons a{
    width:80px;
    line-height:25px;
    margin-right:10px;
}

.taxonomy li a.active{
    font-weight:bold;
}

#resourceByCategory table.views-view-grid tr td span.vidTermClass a{
    padding:5px 10px;
    float:left;
    border-bottom:2px dotted #DADAD2;
}

#buttons .buttonContainers {
    margin-left:463px;
    margin-top:4px;
}

#main #content_page #content-inner #content-area #search-form, #main #content_page #content-inner #content-area .box{
    padding-left:15px;
}

#main #content_page #content-inner #content-area .box{
    padding-bottom:20px;
}

#main #content_page #content-inner #content-area #search-form fieldset{
    width:593px;
}



/* Resource by country page */
.content .quicktabs-style-garland .quicktabs_tabpage .view .groupContainer{
    float:left;
    margin-top:14px;
}

.content .quicktabs-style-garland .quicktabs_tabpage .view .groupContainer h3{
    margin-left:14px;
}

#content_page #content-inner #content-bottom .view-resource-library #exposeViewId  {
    /*border:1px solid #C0C0C0;*/
    float:left;
    /*margin-left:12px;*/
    padding-left:10px;
    /*padding-right:16px;*/
    width:595px;
}


/* Resource by block-views-resource_by_type_search-block_4 */
#block-views-resource_by_type_search-block_4 .block-inner{
    margin-left:14px;
    margin-top:14px;
    width:610px;
}

#block-views-resource_by_subject-block_5 .block-inner{
    margin-left:14px;
    margin-top:14px;
    width:610px;
}

.quicktabs-style-garland .quicktabs_tabpage .view .groupContainer .subjectName h3{
    font-size:15px;
}

.view .view-content .view-reports-page-data .margin-18{
    margin-bottom:18px;
}

/* Only for the Resource Library page */
#content_page #content-inner #content-bottom .view-cea-language-type{
    float:left;    
    width:608px;
}

#content_page #content-inner #content-bottom .view-cea-language-type .view-content #exposeViewId{
  border:1px solid #000;   
}

#content_page #content-inner #content-bottom .view-cea-language-type .view-content{
    float:left;
    margin:0 0 0 10px;
    width:610px;
}

#content_page #content-inner #content-bottom .view-cea-language-type .view-content .views-row{
    padding:9px 0px;
    margin-left:14px;
}

#content_page #content-inner #content-bottom .view-cea-language-type .view-content .views-row .views-field-title{
    font-size:14px;
    font-weight:bold;
}


/* This css code will be used only for resource library page (views-view-unformatted--resource-library-tpl.php) */
.view-cea-language-type .view-content #rl_common_container  {
    float:left;
    margin:0 auto 0 14px;
    width:597px;
}


.view-cea-language-type .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin:0;
    padding:12px 0;
    width:98%;
}

.view-cea-language-type .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.view-cea-language-type .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:9%;
    margin-left:15px;
}

.view-cea-language-type .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:84%;
    text-align:justify;
}

.view-cea-language-type .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.view-cea-language-type .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.view-cea-language-type .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
}

#content_page #content-inner #content-bottom .view-cea-language-type .item-list .pager{    
    margin-left:0px; 
}

/* Only for the Media type resource */
#content_page #content-inner #content-bottom .view-cea-media{
    float:left;    
    width:608px;
}

#content_page #content-inner #content-bottom .view-cea-media .view-content #exposeViewId{
  border:1px solid #000;   
}

#content_page #content-inner #content-bottom .view-cea-media .view-content{
    float:left;
    margin:0 0 0 10px;
    width:610px;
}

#content_page #content-inner #content-bottom .view-cea-media .view-content .views-row{
    padding:9px 0px;
    margin-left:14px;
}

#content_page #content-inner #content-bottom .view-cea-media .view-content .views-row .views-field-title{
    font-size:14px;
    font-weight:bold;
}


/* This css code will be used only for resource library page (views-view-unformatted--resource-library-tpl.php) */
.view-cea-media .view-content #rl_common_container  {
    float:left;
    margin:0 auto 0 14px;
    width:597px;
}


.view-cea-media .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin:0;
    padding:12px 0;
    width:98%;
}

.view-cea-media .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.view-cea-media .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:9%;
    margin-left:15px;
}

.view-cea-media .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:84%;
    text-align:justify;
}

.view-cea-media .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.view-cea-media .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.view-cea-media .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
}

#content_page #content-inner #content-bottom .view-cea-media .item-list .pager{    
    margin-left:0px; 
}

/* Only for the News page */
.node-type-news .node-inner, .node-type-event .node-inner, .node-type-question-center .node-inner{
    padding:10px 0px 0px 0px;
}

.view-news-view .view-content .view-reports-page {
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c0c0c0;
  padding-left: 10px;
}

.view-news-view .view-content .view-reports-page .views-field-title .views-field-title{
    font-weight: bold;
}

.view-news-view .view-content .view-reports-page .views-field-field-image-fid{
  float: left;
  margin-right: 10px;
}

.view-news-view .view-content .view-reports-page .views-field-field-image-fid img{
  border: 1px solid #c0c0c0;
  padding: 4px;
}

.view-news-view .view-content .view-reports-page .views-field-body{
  margin-top:5px;
}

.view-news-view .view-content .view-reports-page .views-field-upload-fid ul {
  margin: 0px;
  padding: 0px;
}

.view-news-view .view-content .view-reports-page .views-field-upload-fid ul li{  
  list-style: none;
  padding-top: 10px;
}

.node-type-news #rlLanding_common_container .rl_rightContainer ul{
    margin:0 0 10px 0;
    padding:0px;
}

.node-type-news #rlLanding_common_container .rl_rightContainer ul li{
    list-style:none;
}

.node-type-news #rlLanding_common_container .rl_rightContainer ul li a{
    text-decoration:underline;
}

.node-type-news .node-inner .node_navigate_links, .node-type-event .node-inner .node_navigate_links, .node-type-question-center .node-inner .node_navigate_links{
    border-top:1px solid #C0C0C0;
    float:left;
    margin:0 2px 14px;
    width:99%;
}
/* End of the News page css*/


/* Only for the event page */
.view-events-type-pages .view-content .view .view-content #rl_common_container{
    padding:14px 14px 0;
}

.view-events-type-pages .view-content .view .view-content #rl_common_container .rl_eachContents{
    width:99%;
    border-bottom:1px solid #C0C0C0;
    margin-bottom:15px;
    padding-bottom:10px;
    padding-left:10px;
}

.view-events-type-pages .view-content .view .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    color:#639FCE;
    font-size:13px;
    font-weight:bold;
    padding-left:14px;
    padding-top:14px;
}

.view-events-type-pages .view-content .view .view-content #rl_common_container .rl_eachContents .rl_rightContainer .content_file_links{
    padding-left:14px;
}

.view-events-type-pages .view-content .view .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_texonomyCont .taxonomy .term_format_link{
    padding-left:14px;  
}

.view-events-type-pages .view-content .view .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:7%;
}

.view-events-type-pages .view-content .view .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:92%;
}

#content_page #content-inner #content-bottom #block-quicktabs-8{
    /*margin-left:14px;*/
}

.view-latest-events .view-content #view_all_events_main .views-row {
    margin-bottom:10px;
    margin-top:0px;
    padding-bottom:24px;
}

.view-latest-events .view-content #view_all_events_main #view_all_events_inner .views-row .views-field-body .field-content a{
    color:#012A6C;
    float:right;
    font-size:11px;
    font-weight:bold;
}

.view-event-all-view .view-content #view_all_events_main #view_all_events_inner .views-row .views-field-body .field-content a{
    color:#012A6C;
    font-size:11px;
    font-weight:bold;
}

.view-resource-by-country .view-content .views-row .views-field-field-resource-type-image-fid .field-content img{
    padding:2px;
    border:1px solid #C0C0C0;
}

#sidebar-first-inner #block-block-9 .block-inner{
    background-color:#F9F7EE;
    border:1px solid #DDCDAF;
    padding-left:10px;
    padding-top:10px;
    margin-bottom:8px;
}

#titleOfExposeViewblock_1,
#titleOfExposeViewblock_3{
    /*background-color:#4E4E4E;*/
    color:#FFFFFF;
    cursor:pointer;
    float:left;
    font-size:14px;
    line-height:25px;
    margin-top:10px;
    text-indent:30px;
    width:607px;
    font-weight:bold;
    font-size:14px;
    background: url("images/resourcesDropDown.png") no-repeat scroll 1% 57% #4E4E4E;
}

.search-results .resultContainer{
    border-bottom:1px solid #C0C0C0;
    float:left;
    margin-bottom:15px;
    padding-bottom:1px;
    width:98%;
}

.search-results .resultContainer .title{
    font-size:12px;
    padding-bottom:5px;
    font-weight:bold;
}

.search-results .resultContainer .snippetBody{
    width:99%;
}

#views-exposed-form-resource-library-block-1, #views-exposed-form-resource-library-block-3{
   border:1px solid #C0C0C0;
   float:left;
}

#homepage_right_top_map .countryHint{
    color:#012A6C;
    margin-top:7px;
    float:left;
}
#sidebar-first-inner #block-block-9 .block-inner .content .videoBody{
    margin:5px auto;
}

#sidebar-first-inner #block-block-9 .block-inner .content .videoTitle{
    color:#012A6C;
    font-weight:bold;
    margin-bottom:6px;
}

.search-advanced .fieldset-wrapper .criterion .form-item{
    display:none;
}

.search-advanced .fieldset-wrapper .criterion #edit-category-wrapper,
.search-advanced .fieldset-wrapper .criterion #edit-or-wrapper,
.search-advanced .fieldset-wrapper .criterion #edit-phrase-wrapper,
.search-advanced .fieldset-wrapper .criterion #edit-negative-wrapper{
    display:block !important;
}

.view-resource-library .view-empty p{
    color:#8C4606;
    font-size:20px;
    margin-bottom:1em;
    margin-top:25px;
}

/* Only for the resource library */
#block-cea_utilities-0 #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin:0 auto 0 3%;
    padding:12px 0;
    width:94%;
}

#block-cea_utilities-0 #rl_common_container .rl_eachContents .rl_leftImage {
    padding-left:15px;
    width:9%;
}

#block-cea_utilities-0 #rl_common_container .rl_eachContents .rl_rightContainer {
    text-align:justify;
    width:84%;
}

#block-cea_utilities-0 #rl_common_container .rl_eachContents .rl_rightContainer .rl_title {
    font-size:12px;
    font-weight:bold;
    width:100%;
}

#block-cea_utilities-0 #rl_common_container .rl_eachContents .rl_rightContainer .rl_texonomyCont a {
    text-decoration:none;
}

/* End of the resource library */

/* Start of Resource by country - Resource by type */
.page-resource-by-country .view-content #rl_common_container .rl_eachContents {
    border-bottom:1px solid #C0C0C0;
    margin-left:12px;
    padding:12px 0;
    width:96%;
}

.page-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_title{
    font-size:12px;
    font-weight:bold;
    width:100%;
}

.page-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_leftImage{
    width:9%;
    margin-left:15px;
}

.page-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer{
    width:84%;
    text-align:justify;
}

.page-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_taxonomy{
    width:100%;
    margin:7px auto 0px auto;
}

.page-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_rightContainer .rl_fileContents{
    width:100%;
    margin:10px auto 0px auto;
}

.page-resource-by-country .view-content #rl_common_container .rl_eachContents .rl_leftImage img{
    vertical-align:middle;
    border:0px;
}

#content_page #content-inner #content-bottom .page-resource-by-country .item-list .pager{    
    margin-left:0px; 
}
/* End of Resource by country - Resource by type */
a{
    text-decoration:none;
}

#view_all_events_inner:last-child{
    border-bottom:none !important;    
}

.node-type-event #content-area .content .rl_commonExeptWidth rl_leftImage img {
  float: right;
  padding:5px;
  border:1px solid #c0c0c0;
  margin-right: 5px;
  margin-bottom: 5px;
}

#sidebar-first .block-inner .more-link {
		font-weight: bold;
}

.page-resource-by-country .view-resource-by-country .view-content {
		float: left;
		width: 99%;
		padding-top: 10px;
}

.page-resource-by-country #quicktabs_tabpage_13_1 .view-content {
		float: left;
		width: 99%;
		padding-top: 20px;
		margin-bottom: 10px;
}


.page-resource-by-country .view-resource-by-country .view-content .views-field-field-country-flag-fid img {
		float: left;
		padding: 5px;
		border: 1px solid #c0c0c0;
		margin: 0px 10px 5px 0px;
}

.page-resource-by-country .view-resource-by-country .view-content .views-field-title {
		font-weight: bold;
		font-size: 14px;
		color: #639FCE;
}

#quicktabs_tabpage_13_0 .countryName,#quicktabs_tabpage_13_1 .countryName{
    margin-left:12px;   
    font-style:italic;    
}

.countryName h3{
    font-style:italic;
}