
#sidebar-first, x:-moz-any-link, x:default {
	float:left;
	margin:8px 0;
	padding:0px 5px;
	width:272px;
}

#page, x:-moz-any-link, x:default{
	width:1080px;
}

#main, x:-moz-any-link, x:default{
	width:1080px;
}


/* Printer Friendly version */
.lightbox-processed .print-title{
	font-size:14px;
}

.lightbox-processed .rl_commonExeptWidth .taxonomy .term_format_link ul {
    padding:0;
}

.lightbox-processed p,
.lightbox-processed .field,
.lightbox-processed .field .field-label,
.lightbox-processed .field .field-label-inline-first{
	font-size:small;
}

.lightbox-processed .field .field-label{
	float:left;
}

.rl_commonExeptWidth .taxonomy .term_format_link ul li {
    display:inline;
    float:left;
    list-style:none outside none;
    padding-right:5px;
    font-size:small;
}

.rl_commonExeptWidth .taxonomy .term_format_link ul li.voc_name {
    font-weight:bold;
    font-size:small;
}

.print-content {
  font-size:12px;
}

.print-content .node_fields .node_label{
	font-weight:bold;
}

.rl_commonExeptWidth .taxonomy .links{
	margin-top:8px;
}
/* End of printer friendly version */