
/** Font styles 
---------------------------------*/

body {
    margin: 0;
    /*
     * Setting up font size, leading and font family
     * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
     */
    font-family: Arial, Geneva, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing:0.03em;
    color: #372f22;
    line-height: 140%;
}

/* Links */

a:link, a:visited {
    color: #012A6C;
    text-decoration: none;
}

a:hover, a:active {
    color: #012A6C;
    text-decoration: underline;
}

/* Titles  */

h1, h2, h3, h4, h5, h6 {line-height:1.3em;}

h1 {
    font-size: 2.2em;
    font-weight:300;
    padding: 0 0 0.5em;
    margin: 0;
}

h2 {font-size:1.8em;font-weight:300;margin-bottom:0.75em;color:#8C4606}
h3 {font-size:14px;margin-bottom:.5em;color:#639fce;}
h4 {font-size:1.2em;margin-bottom:0.8em;}
h5 {font-size:1.1em;font-weight:600;margin-bottom:0;}
h6 {font-size:1em;font-weight:bold;}

/* Paragraph Styles */


p.featured-photo{
    margin-bottom: 2px;
}

p.featured-photo a img {
    width: 87px;
}

p {
    margin:0 0 1em 0;
}

/* List Styles  */

ul, ol {
    margin-left: 0;
    /*padding-left: 2em;*/
}

/* Table Styles  */

table {
    width: 99%;
}
tr.even td, tr.odd td {
    padding: 10px 5px;
}
tr.odd {
    background-color: #fff;
}

/* Code */

pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}

pre {
    background-color: #efefef;
    display: block;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #aaa;
}

/* List Styles */

ul          { list-style-type: none; }
ul ul       { list-style-type: circle; }
ul ul ul    { list-style-type: square; }
ul ul ul ul { list-style-type: circle; }
ol          { list-style-type: decimal; }
ol ol       { list-style-type: lower-alpha; }
ol ol ol    { list-style-type: decimal; }

/* Abbreviation */

abbr {
    border-bottom: 1px dotted #666;
    cursor: help;
    white-space: nowrap;
}

/* UI improvments  */

#edit-title{
    font-size: 12px;
    color:#372F22;
    font-family:Arial,Geneva,sans-serif;
}
#system-themes-form img{
    width:100px;
}
.form-item .description{
    font-style:italic;
    line-height:1.2em;
    font-size:0.8em;
    margin-top:5px;
    color:#777;
}
#edit-delete{
    color:#c00;
}

/**
 * Console, style from Slate theme
 */
div.messages {
    padding: 9px;
    margin: 1em 0;
    color: #036;
    background: #bdf;
    border: 1px solid #ace;
}
div.warning {
    color: #840;
    background: #fe6;
    border-color: #ed5;
}
div.error {
    color: #fff;
    background: #e63;
    border-color: #d52;
}
div.status {
    color: #360;
    background: #cf8;
    border-color: #be7;
}

/** Region Colors
---------------------------------
*  delete when starting a new theme */

#header { background-color: #f7f7f7; }
/*#sidebar-first {	background: #e7edff; }*/
#sidebar-second { background: #ffd075; }
#navigation { background-color: #feffa5; }

.clear_all {
    clear: both;
}


#main {
    background-color:#f0f9fd;
    padding-bottom:8px;
}

#footer_message {
    margin: 10px;
}

/* Only for the more link color */
#block-views-Highlights_in_Homepage-block_1 .block-inner .content .view-id-Highlights_in_Homepage .view-content .views-row .views-field-view-node .field-content a{
    text-decoration: none;
    color:#012A6C;
}

.block-footer_block {
    padding:0 0 0 720px;
}

/* Featured Resources Block*/

.view-featured-resources-home .views-row{
    border-bottom:1px solid #CFCCC7;
    margin-bottom:10px;
    margin-top:10px;
    padding-bottom:24px;
}
.view-featured-resources-home .views-row-last{
    border-bottom:none;
}

#block-views-featured_resources_home-block_1 .view-featured-resources-home .view-content .views-row .views-field-title{
    /*font-size: 12px;*/
}
#block-views-featured_resources_home-block_1 .view-featured-resources-home .view-content .views-row .views-field-view-node {
    margin-top: -17px;
}

.view-featured-resources-home .view-content .views-row .view-id-featured_resources_home view-display-id-page_1 {
    margin-top: -17px;
}

.view-featured-resources-home .view-content .views-row .views-field-view-node a{
    color: #012A6C;
    font-size: 11px;
    float:right;
}

.view-featured-resources-home .view-content .views-row .views-field-title a{
    color: #012A6C;
}

.view-featured-resources-home .view-content .more_resources {
    margin-top: 20px;
}
.view-featured-resources-home .view-content .more_resources a{
    color: #B11117;
}


/* Featured resource page*/
.view-id-featured_resources_home view-display-id-page_1 .view-content {
    padding: 0 14px 14px;
}


/*Style for Events left block*/
#block-views-latest_events-block_1 {
    border: 1px solid #ADD8E6;
    margin-bottom: 10px;
    background-color:#FFF;
    float:left;
    width:250px;
    padding:8px;
}

/*Style for mailing list block*/
#block-mailing_list-2 {
    border: 1px solid #DDCDAF;
}

#block-mailing_list-2 .block-inner {
    background-color:#F9F7EE;
    border:1px solid #FFFFFF;    
    /*padding:16px 10px 27px;*/
    padding:10px 10px 16px 10px;
    width:242px;
}

#block-mailing_list-2 .block-inner .content #edit-mail {
    border:1px solid #CFCCC7;
    height:20px;
    width:180px;
}

#block-mailing_list-2 .block-inner .content #edit-submit, 
#block-mailing_list-2 .block-inner .content #edit-submit-2 {
    background-color:#8C4606;
    border:1px solid;
    color:#FFFFFF;
    float:right;
    margin-top:-34px;
    padding:2px 5px;
}


/* Style for rotor block on home page*/
#block-views-rotor-block_1 .block-inner{
    border: 1px solid #DDCDAF;
}
#block-views-rotor-block_1 .block-inner .content{
    border: 1px solid #FFFFFF;
}


#resourceByCategory{
    border:2px solid #DDCDAF;
    z-index:10;
    display:none;
    width:620px;
}

#resourceByCategory table{  
    width:100% !important;
    /*border:1px solid #fff;*/
}

#resourceByCategory table tr td{
    /*padding:5px 0 5px 10px;  */
    padding-left:10px;
    width: 300px;
}

#resourceByCategory table tr td .views-field-name{
    border-bottom:2px dotted #DADAD2;
    width:95% !important;  
    line-height:28px;
    padding-bottom:5px;
}

.seeAllSub {
    float:left;  
    margin :7px 0 5px 0;
    width:100%;
    color:#3c3c38;
    cursor:pointer;  
}

.seeAllSub img{
    margin-right:5px;
    cursor:pointer;
}

/* Only for the left contents */
.view-latest-events .views-row{
    margin-bottom:10px;
    margin-top:10px;
    padding-bottom:24px;
}

.view-latest-events .views-row-last{
    border-bottom:none;
    padding-bottom:10px;
}

.view-latest-events .view-content .views-row-1 .views-field-title{
    font-size:12px;
    height:20px;
    color:#012A6C;
}



.view-latest-events .view-content .views-row-2 .views-field-title{
    font-size:12px;
    /*height:33px;*/
    max-height:33px;
    /* overflow:hidden;*/
    color:#012A6C;
}


.view-featured-resources-home .view-content .more_resources a {
    color:#B11117;
}

.view-latest-events .view-content .views-row .views-field-field-start-date-value {
    margin:15px 0px 5px 0px;  
}

.view-latest-events .view-content .more_resources{
    margin-top:33px;
}

.view-latest-events .view-content .more_resources a{
    color:#B11117;
}

.view-latest-events .view-content .views-row .views-field-view-node{
    margin-top:-26px;
}


.view-latest-events .view-content .views-row .views-field-view-node a{
    color: #012A6C;
    font-size: 11px;
    float:right;
}

/* Only for the page.tpl.php and it's related files */
#content_page  #content-inner .view .item-list .pager{
    width:585px;
    float:left;
    margin-bottom:25px;
    margin-left:14px;
    padding-bottom:10px;

}

#content_page  #content-inner .view .item-list .pager li,
.pagerOutput .item-list .pager li{
    border:1px solid #C0C0C0;
    color:#012A6C;
    font-size:12px;
    padding:2px 4px;
    margin: 0px;
}

#content_page  #content-inner .view .item-list .pager li.pager-ellipsis{
    border: 0px;
}

#content_page  #content-inner .view .item-list .pager li.pager-current{
    border: 0px;
    font-weight: bold;
}

#content_page  #content-inner .view .item-list .pager a,
.pagerOutput .item-list .pager a{
    color:#012A6C;
}

.pagerOutput .item-list ul.pager{
    float:none;
    margin-left:14px;
    padding:14px;
    margin-top:10px;
}

#quicktabs_tabpage_9_0 .view-resource-library .item-list .pager{
    width:599px !important;
    padding-top:14px;
    float:left;
    padding-bottom:20px;
    margin-bottom:10px !important;
    margin-left:14px;
}

#block-views-Highlights_in_Homepage-block_1 .view-Highlights-in-Homepage .view-content .views-field-view-node {
    margin-top: -26px;
}

#content-area .view-news-view {
    padding: 0 14px;
}

#content-area .view-news-view .view-content{
    padding-bottom: 14px;
}

#content-area .view-news-view .view-content .views-field-view-node{
    margin-top: -14px;
    text-align: right;
}

#content-area .view-id-news_view.view-display-id-page_1 .views-field-title a {
    font-weight: bold;
}

#content-area .node-type-news .node-inner #rlLanding_common_container .rl_eachContents .rl_leftImage {
    float:left;
    padding:4px 10px 4px 0;
}

#content-area .node-type-news .node-inner #rlLanding_common_container .rl_eachContents .rl_leftImage img {
    border:1px solid #C0C0C0;
    padding:2px;
}

#content-area .view-news-view .view-content .views-row {
    padding: 10px 0px;
    border-bottom: 1px solid #c0c0c0;
}

.node-type-news #rlLanding_common_container .rl_rightContainer {
    padding-bottom: 14px;
}

.view-news-view .views-row .views-field-title a {  
    font-size:12px;
    /*font-weight:bold;*/
}
.view-Photo-Browser .view-footer p {
    font-size: 10px;
}


/*  Only for the Report page */

/* This css code will be used only for Reports page*/
.view-report-view .view-content .view-reports-page {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c0c0c0;
    padding-left: 10px;
    float:left;
}

.view-report-view .view-content .view-reports-page .views-field-title a{
    font-weight: bold;
}

.view-report-view .view-content .view-reports-page .views-field-field-image-fid{
    float: left;
    margin-right: 10px;
}

.view-report-view .view-content .view-reports-page .views-field-field-image-fid img{
    border: 1px solid #c0c0c0;
    padding: 4px;
}

.view-report-view .view-content .view-reports-page .views-field-body{
    /*height: 80px;*/
}

.view-report-view .view-content .view-reports-page .views-field-upload-fid ul {
    margin: 0px;
    padding: 0px;
}

.view-report-view .view-content .view-reports-page .views-field-upload-fid ul li{  
    list-style: none;
    padding-top: 10px;
}
/************/

/* More links in the site*/
.cea_more_links {
    font-size: 11px;
}

/*Resource Document */
#content-area .node-type-document .node-inner #rlLanding_common_container .nodeContents {
    padding-bottom:16px;
    padding-right:15px;
}
#content-area .node-type-document .node-inner #rlLanding_common_container .nodeContents .rl_body{
    /*height: 175px;*/
}

#content-area .node-type-document .node-inner #rlLanding_common_container .nodeContents .rl_leftImage{
    float: left;
    margin-right: 10px;
}
#content-area .node-type-document .node-inner #rlLanding_common_container .nodeContents .rl_leftImage img{
    padding: 4px;
    border: 1px solid #c0c0c0;
}

#content-area .node-type-document .node-inner #rlLanding_common_container .nodeContents .rl_attachment .rl_files_data{
    padding-top: 10px;
}


/* Resource By country top block*/
#quicktabs-13 {
    border-bottom:1px solid #C0C0C0;
    padding-left:5px;
}
#block-views-resource_by_country-block_4 .block-inner h3{
    padding-left: 14px;
    padding-top: 14px;
}

#block-views-resource_by_country-block_4 .block-inner .content{
    padding: 0px 14px;
}

#block-views-resource_by_country-block_4 .block-inner .content .view-resource-by-country .views-field-body  {
    padding-right:10px;
    width:99%;
}

#block-views-resource_by_country-block_4 .block-inner .content .view-resource-by-country .views-field-field-country-image-fid {
    float: left;
}


/* Only for the quick tabs garland */
ul.quicktabs_tabs.quicktabs-style-garland {
    background-color:#F9F7EE;
    font:bold 12px/20px Verdana;
    padding-left:12px;
}

ul.quicktabs_tabs.quicktabs-style-garland li {
    line-height:25px;
    margin:0;
    padding:0;
    display: block;
    float: left;  
    list-style-type: none;
    background: none;
    margin-left:2px;
    background-color:#D6D6D6;
    /*background: url('images/tab_left_unactive.png') no-repeat left center;*/
}


ul.quicktabs_tabs.quicktabs-style-garland li.active a {
    color: #fff !important;
}

ul.quicktabs_tabs.quicktabs-style-garland li.active {
    background:none;
    background-color:#136B96;
}

.sidebar ul.quicktabs_tabs.quicktabs-style-garland li.active a {
    color: #027AC6 !important;
}

/* End of Only for the quick tabs garland */
.view-id-featured_resources_home .view-content .page_content{
    height: 100px;
}
.view-id-featured_resources_home .view-content .page_content .page_image_content{
    float: left;
    width: 60px;
}
.view-id-featured_resources_home .view-content .page_content .page_teaser_content{

}

/*cnc CSS for quick tabs*/

ul.quicktabs_tabs.quicktabs-style-garland 
{
    background:none;
    margin-bottom: 0px;
}

ul.quicktabs_tabs.quicktabs-style-garland li a:link, ul.quicktabs_tabs.quicktabs-style-garland li a:visited  {
    padding:8px 20px 4px 20px;
}

ul.quicktabs_tabs.quicktabs-style-garland li.active a{
    background:none;

}

.content_file_links{
    /*margin-top:5px;*/
    margin-bottom: 5px;
}

.content_file_links ul{
    padding:0;
    margin:0;
}

.content_file_links ul li {
    display:inline;
    padding-right:10px;
}

.content_file_links ul li a{
    text-decoration:underline;
}

.term_format_link{
    margin-bottom:5px;
    width: 540px;
    float: left;
}

.term_format_link ul li.voc_name{
    font-weight: bold;
}

.node_navigate_links{
    margin: 0px 2px 14px;
    /*margin-top:0px;*/
    border-top :1px solid  #c0c0c0;
}


/* Style for Node Body */
.node_body_data {

    padding-bottom:10px;
}
.node_body_data .node_fields{
    padding-bottom: 10px;
}
.node_body_data .node_fields .node_label{
    font-weight:bold;
}

.node_body_data .node_fields .node_image {
    float: left;
    padding-right: 10px;
}

.node_body_data .node_fields .node_image img{
    padding: 4px;
    border: 1px solid #c0c0c0;
}

/*event page */
.event_related_docs .event_related_heading{
    font-weight: bold;
}

.event_related_docs .event_related_links .view-content .views-field-title a{
    /*font-weight: normal;*/
}

#browse_resource_by_country{
    display: none;
    float:right;
    width:220px;
}

.taxonomy li a.active {
    font-weight:normal;
}

#content-inner #view_all_events_main #view_all_events_inner .views-row .views-field-body {
    padding-left:10px;
}

.view-report-view .view-content .view-reports-page .dateContent{
    font-weight:bold;
    margin:3px auto;
}


/* Only for the search result
.item-list .pager li{
  padding:0px !important;
}
End of the search result */


/* Only for the view pagination*/
.quicktabs_wrapper .view-content .view-content .item-list .pager li.pager-item{
    margin-left:5px !important;
}
/* End of the view pagination*/

/* Only for the print */
.print-content {
    font-size:12px;
}

.print_Ver{
    float:right;
    width:175px;
    margin:0px auto;
    padding-bottom:18px;
}

.print_Ver img{
    text-decoration:none;
    padding-right:4px;
    vertical-align:middle;
}
/* End of the print */

/*Only for the author in view page*/
/*.authorView{*/
/*  margin-bottom: 5px;*/
/*}*/

.view .view-content .rl_commonExeptWidth .rl_texonomyCont .taxonomy {
    padding-top:0px;
}

.contentDetail.authorView {
    width: auto;
    float: left;
    margin-right: 2px;
}

#block-views-rotating_image-block_1 #views-cycle-rotating_image-block_1-nav li.activeSlide {
    background: url("images/select.png") no-repeat scroll left top transparent;
}

#block-views-rotating_image-block_1 #views-cycle-rotating_image-block_1-nav li {
    background: url("images/unselect.png") no-repeat scroll left top transparent;
    cursor: pointer;
    list-style: none outside none;
    margin: 1px;
    padding: 6px;
}


#block-views-rotating_image-block_1 #arrow_home_feature_left_li {
    background: url("images/left_arrow.png") no-repeat scroll left 1px transparent;
    display: block;
    float: left;
    height: 10px;
    width: 12px;
    cursor:pointer;
}


#block-views-rotating_image-block_1 #arrow_home_feature_right_li {
    background: url("images/right_arrow.png") no-repeat scroll left 1px transparent;
    display: block;
    float: left;
    height: 10px;
    width: 20px;
    cursor:pointer;
}
/*End of author in view page*/

#block-views-rotating_image-block_1 li{
    display:block;
}

/*ROTATOR IMAGE*/

ul#views-cycle-rotating_image-block_1 .slide-header {
    width: 358px;
}

#views-cycle-rotating_image-block_1 .slide-header {
    margin-top: -60px;
    padding: 5px 15px 0;
}

#views-cycle-rotating_image-block_1 .slide-header {
    opacity: 0.7;
}

#views-cycle-rotating_image-block_1 .slide-header {
    background-color: #000000;
    bottom: 0;
    margin-top: -61px;
    opacity: 0.7;
    padding: 3px 7px;
    width: 398px;
}

#views-cycle-rotating_image-block_1 .slide-header .slide-teaser a {
    color:#fff;
}

#views-cycle-rotating_image-block_1 .slide-header .slide-title{
    font-weight:bold;
    font-size: 13px;
}
#views-cycle-rotating_image-block_1{
    /* margin-left:9px;*/
    color:#fff;
    position:relative;
}
/*ROTATOR IMAGE*/

#block-views-featured_question-block_1{
    border: 1px solid #ADD8E6;
    background-color:#fff;
    float:left;
    width:302px;
    padding:8px;
    margin-bottom: 10px;
    height: 155px;
}

#block-views-featured_question-block_1 .item-list li,#block-block-14 li{

    background: url("images/arrow.png") no-repeat scroll 0 4px transparent;
    padding: 0 0 4px 19px;
    list-style:none;

}
#block-views-featured_question-block_1 .item-list li{
    margin:0px;
}

#block-views-featured_question-block_1 .question-list{
    /*padding-left:1em;*/
}

.view-id-rotating_image{
    /* padding-top:9px;*/
}



#views-cycle-rotating_image-block_1-nav {
    position: absolute;
    right: 5px;
    top: 165px;
    z-index: 99;   
}






#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li {
    display: inline;
    float: left;
    line-height: 35px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 110px;
    background:url("images/nev_bg.jpg") repeat-x scroll 100% 0 transparent;
}

#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-7671{
  width: 130px;  
}
#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-6012,
#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-5833{
  width: 120px;  
}
#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-5850 {
  width: 150px;  
}
/*#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-1837 {*/
/*  width: 95px;  */
/*}*/
/*#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-9693 {*/
/*  width: 125px;  */
/*}*/
/*#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-6012 {*/
/*  width: 110px;  */
/*}*/
/*#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.menu-mlid-5833 {*/
/*  width: 112px;  */
/*}*/

#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links #dhtml_menu-5850{
    width:101%;
}
#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li a {
    background: url("images/menu_background.jpg") no-repeat scroll left center  transparent;
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    line-height: 38px;
    margin-right: 2px;
    width: 99%;
}
li.fake-leaf {
    display: none !important;
}
li.menu-mlid-1527 ul,
li.menu-mlid-1526 ul,
li.menu-mlid-1837 ul,
li.menu-mlid-6012 ul,
li.menu-mlid-5833 ul,
li.menu-mlid-5850 ul {
    display: none;
    position: absolute;
    width: 135px;
    z-index: 9999999;
}
.not-logged-in li.menu-mlid-1527 ul,
.not-logged-in li.menu-mlid-1526 ul,
.not-logged-in li.menu-mlid-1837 ul,
.not-logged-in li.menu-mlid-6012 ul,
.not-logged-in li.menu-mlid-5833 ul,
.not-logged-in li.menu-mlid-5850 ul{
    top: 168px;
}
.logged-in li.menu-mlid-1527 ul,
.logged-in li.menu-mlid-1526 ul,
.logged-in li.menu-mlid-1837 ul,
.logged-in li.menu-mlid-6012 ul,
.logged-in li.menu-mlid-5833 ul,
.logged-in li.menu-mlid-5850 ul {
    top: 188px;
}

li.menu-mlid-1527 ul li,
li.menu-mlid-1526 ul li,
li.menu-mlid-1837 ul li,
li.menu-mlid-6012 ul li,
li.menu-mlid-5833 ul li,
li.menu-mlid-5850 ul li{
    width: 190px !important;
}
#block-block-21 h3,
#block-block-22 h3 {
    margin-left: 3px;
    width: 100px;
}
#node-6690 .node-inner .content {
    padding: 0 !important;
}
#node-6690 .node-inner .content .node_body_data {
    padding-bottom: 0 !important;
}

#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li.leaf.first a {
    background: none;

}
.highslide img {
    display: none;
}
/*#content_page #content-inner {*/
/*	height: 615px;*/
/*}*/
/*.highslide-wrapper {*/
/*	width: 618px !important;*/
/*	height: 597px !important;*/
/*}*/
/*.highslide-wrapper img.highslide-image {*/
/*	height: 495px !important;*/
/*	width: 618px !important;*/
/*} */
/*#hsId1 {*/
/*	width: 618px !important;*/
/*}*/
/*#hsId2 {*/
/*	width: 618px !important;*/
/*	top: 64% !important;*/
/*}*/
/*#hsId0 {*/
/*	bottom: -172px !important;*/
/*	right: -36px !important;*/
/*}*/
#nice_menu .nice_menu_links  .block-inner .content .menu-name-primary-links ul li a.active {
    /* background: url("images/menu_background.png") repeat-x scroll center top transparent;*/
    margin-right: 2px;
    text-decoration: none;
    width: 100%;
    background-color:#0c3d75 !important;
}

#block-views-latest_events-block_1 .block-inner,#block-views-featured_question-block_1 .block-inner {
    background-color:#fff;
    /* padding: 10px;*/
}

#block-views-rotating_image-block_1
{
    float:left;
}
#block-views-latest_events-block_1 #view_all_events_inner .views-row .views-field-body {
    float: left;
    margin-left: 4px;
    width: 73%;
    margin-top:5px;
}

#block-user-1{
    clear:both;
}



#block-views-latest_events-block_1 #view_all_events_inner .view_all_events_header {

    margin-left: -1px;

}

.rl_leftImage {
    width: 189px;
}

.image_caption {
    float: right;
    margin-bottom: 18px;
    margin-top: 5px
}
.newsletter-title {
    font-weight: bold !important;
    background: url("images/triangle_arrow.png") no-repeat scroll 0 7px transparent;
    padding-left: 10px;
    padding-top: 3px;
}
.share-this-block {
    color: #8E8E8E;
    display: block;
    height: 20px;
    margin-bottom: 5px;
}
.view-Photo-Browser .view-content {
    height: 600px;
}
.highslide-container .photo-caption {
    font-weight: bold;
}
.highslide-container .photo-credit {
    font-size: 11px;
    font-style: italic;
}
.gallery-header {
    font-size: 13px;
    font-weight: bold;
}
.view-Photo-Browser .view-header {
    margin-top: 10px;
    margin-left: 7px;
}
.highslide-container .highslide-number {
    margin-bottom: 5px;
}
#block-block-24 {
    float: left;
    margin-top: 10px;
    width: 318px;
}
.share-this-block .title {
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 444px;
}
.page-partners .error {
    display: none;
}
.newsletter-link {
    padding-left: 9px;
}
.page-partners .view-header {
    margin-bottom: 10px;
    margin-left: 10px;
}
#site-header #block-views-ce4d0f732808f9229cb210940539f119 img {
    border: 1px solid #E0E0E0;
}

#block-block-13, #block-block-20 {
    background-color: #FFFFFF;
    border: 1px solid #ADD8E6;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;
    /* text-align:justify;*/
}

#block-block-17 {
    background-color: #FFFFFF;
    border: 1px solid #ADD8E6;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    width: 301px;
    margin-left:10px;
    /* text-align:justify;*/
    height: 155px;
}


#block-block-9{
    background-color: #FFFFFF;
    border: 1px solid #ADD8E6;
    float: left;      
    padding: 8px;
    width: 250px;
}

#block-views-news_view-block_1, #block-block-26{
    background-color: #FFFFFF;
    border: 1px solid #ADD8E6;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;
}
.bottomLeftData #block-views-rotating_image-block_1{
    background-color: #FFF;
    /* border: 1px solid #ADD8E6;*/
    width:373px;
    height:238px;
    position:relative;
}

.banner-left {
    background: none repeat scroll 0 0 #C0C0C0;
    float: right;
    margin-right: 5px;
    margin-top: 9px;
    width: 200px;
}



#block-block-14 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ADD8E6;
    margin-left: 382px;
    padding: 8px;
    width: 250px;
    height:222px;
}

#content{
    background-color:#F0F9FD;
}

#content .secondMiddleContainer .div_border {
    background-color: #fff;
    padding: 14px;
}

#block-views-news_view-block_1 .block-inner h3,
#block-block-26 .block-inner h3 {
    background-color: blue;   
    margin-left: -18px;
    padding-left: 18px;
    background:url('images/right_menu_image.png') no-repeat left center ;
    height:30px;
    color:#fff;
    padding-top:4px;
    margin-bottom:-2px;
}

#block-views-latest_events-block_1 .block-inner h3{
    background: url("images/right_menu_image.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    height: 30px;
    margin-left: -18px;
    padding-left: 18px;
    padding-top: 4px;
    margin-bottom:-2px;
}

#block-views-featured_question-block_1 .block-inner h3{
    /*background: url("images/right_menu_image.png") no-repeat scroll left center transparent;
    color: #FFFFFF;*/
    height: 33px;
    margin-left: -18px;
    padding-left: 18px;
    padding-top: 4px;
    margin-bottom:1px;
}

.view-cti-partner-countries-block ul li{
    float:left;
    display:inline;
}

#block-views-ce4d0f732808f9229cb210940539f119{
    float:right;
    margin-right:11px;
}

#block-views-ce4d0f732808f9229cb210940539f119 ul li{
    margin: 0 0 0.25em 0.3em;
}

#block-block-15{
    float:left;
    width:290px;
}
#block-block-15 .content{
    border-right:1px solid #c0c0c0;
}

#block-block-15 ul{
    width:282px;
}

#block-block-15 ul li{
    background: url("images/arrow.png") no-repeat scroll 0 10px transparent;
    border-bottom: 1px dotted #C0C0C0;
    list-style: none outside none;
    padding: 5px 0 5px 19px;
}


#block-views-fa687f1fdce483a74fa9f37151569e10{
    float:right;
    width:332px;
}

#block-views-fa687f1fdce483a74fa9f37151569e10 .views-field-field-country-flag-fid{
    float:left;
    margin-right:5px;
}
#block-views-fa687f1fdce483a74fa9f37151569e10 .views-field-body{
    float:left;
    width:110px;
}

#block-views-fa687f1fdce483a74fa9f37151569e10 .views-field-body a{
    font-weight: bold;
}

#block-views-fa687f1fdce483a74fa9f37151569e10 .views-row{
    float:left;
    margin-bottom:18px;
}

.node-type-country #content-area .content img {
    float: right;
    border: 1px solid #c0c0c0;
    margin-bottom: 9px;
    margin-right: 3px;
    margin-top: 3px;
}

.node-type-country #content-area .content .image_content {
    float: right;
    padding:5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 190px;
    border: 1px solid #ADD8E6;
}

.node-type-country #content-area .content .image_content .news_section, 
.node-type-country #content-area .content .image_content .events_section,
.node-type-country #content-area .content .image_content .documents_section {
    float: left;
    padding:5px 5px 0 5px;
    border-top: 1px solid #c0c0c0;
}

.node-type-country #content-area .content .image_content .news_section .view-content .views-row, 
.node-type-country #content-area .content .image_content .events_section .view-content .views-row,
.node-type-country #content-area .content .image_content .documents_section .view-content .views-row {
    padding-bottom: 5px;
}

.node-type-country #content-area .content .image_content .view-content ul {
    margin-bottom: 0px;
}

.node-type-country #content-area .content .image_content .view-content li {
    background: url("images/arrow.png") no-repeat scroll 0 4px transparent;
    list-style: none;
    margin-left: 2px;
}

.node-type-country #content-area .content .image_content .view-content li div {
    padding-left: 14px;
}

.node-type-partner #content-area .content .image_content img {
    padding:5px;
    border:1px solid #c0c0c0;
    margin-bottom: 5px;
    float: right;
}

#bottom_rotor_container .view-cti-partner-countries-block  .views-field-field-country-flag-fid img{
    border:1px solid #e0e0e0;
}

.view-news-view .views-row{
    padding-bottom:10px;
    padding-top:10px;
    border-bottom: 1px solid #c0c0c0;
}

.view-news-view .views-row .views-field-title {
    padding-bottom: 3px;
    padding-top: 3px;
}

.view-news-view li {
    background: url("images/arrow.png") no-repeat scroll 0 7px transparent;
    list-style: none outside none !important;
    padding: 0 0 4px 19px !important;
    margin:0px !important;
    border-bottom: 1px solid #C0C0C0;
} 

#block-block-26 li.help_links {
    background: url("images/arrow.png") no-repeat scroll 0 7px transparent;
    list-style: none outside none !important;
    padding: 3px 0 4px 19px !important;
    border-bottom: 1px solid #C0C0C0;
}

#block-block-26 li.last {
    border: medium none;
}

.view-news-view .views-row.views-row-last{
    border-bottom:none;
}

.view-news-view .views-row .views-field-body{
    /* margin-top:5px;*/
}

.view-news-view .views-row.views-row-first{  
    padding-top:5px;
    border-bottom: 1px solid #c0c0c0;
}

.footer_layout ul li{
    display:inline;
    float:left;
    padding-right:24px;
    color:#fff;
    font-size:15px;
}

.footer_layout ul li a{  
    color:#fff;
    font-size:14px;
    line-height:26px;
    font-weight:bold;
}

#homepage_right_top_a ul li,
#block-block-21 ul li {
    border-bottom: 1px dotted #C0C0C0;
    list-style: none outside none;
    padding: 5px 0 5px 0px;
    margin:0px;
}
#homepage_right_top_a ul,
#block-block-21 ul {
    border-right: 1px solid #e6e6e6;
    margin-left: 3px;
    padding-right: 10px;
    width: 140px;
}
#homepage_right_top_b ul li,
#block-block-22 ul li {
    border-bottom: 1px dotted #C0C0C0;
    list-style: none outside none;
    padding: 5px 0 5px 0px;
    margin:0px;
}

#homepage_right_top_b ul,
#block-block-22 ul {
    border-right: 1px solid #E6E6E6;
    margin-left: 10px;
    padding-right: 8px;
    width: 168px;
}

#homepage_right_top_a .block-inner h3 {
    margin-bottom:7px;
    width: 100px;
}

#homepage_right_top_b .block-inner h3 {
    margin-bottom:7px;
    width: 100px;
    margin-left: 10px;
}

#block-block-16/*,
#block-block-26*/ {
    float:left;
    margin-left:10px;
}
#block-views-b022977a3eece2775dcd43d06dde4f38 ul {		
    border-right: 1px solid #E6E6E6;
    padding-right: 10px;
}		
#block-views-b022977a3eece2775dcd43d06dde4f38 ul li,
#block-pubdlcnt-1 ul li{		
    border-bottom: 1px dotted #C0C0C0;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0;
    word-wrap: break-word;
}
tr.collab-image td p {
    margin: 0;
}
#block-block-25,
.photo-browse-all-wrap {
    border: 1px solid #ADD8E6;
    clear: both;
    float: left;
    /*height: 216px;*/
    margin-bottom: 12px;
    width: 100%;
}
/*#block-block-28 {*/
/*	float: left;*/
/*	margin-top: 10px;*/
/*	width: 318px;*/
/*}*/
#block-cti_custom_search-0 {
    float: left;
    margin-top: 10px;
}
#block-block-25 h3,
.photo-browse-all-wrap h3 {
    padding: 5px 5px 5px 15px;
}
/*#block-block-25 img,*/
/*.photo-browse-all-wrap img{*/
/*    margin-right: 10px;*/
/*}*/
/*#block-block-25 img.first,*/
/*.photo-browse-all-wrap img.first{*/
/*    margin-left: 18px;*/
/*}*/

/*#block-block-25 p.gallery-links a.indonesia,*/
/*.photo-browse-all-wrap p.gallery-links a.indonesia {*/
/*	margin-left: 32px;*/
/*}*/
/*#block-block-25 p.gallery-links a.malaysia,*/
/*.photo-browse-all-wrap p.gallery-links a.malaysia{*/
/*	margin-left: 43px;*/
/*}*/
/*#block-block-25 p.gallery-links a.papua,*/
/*.photo-browse-all-wrap p.gallery-links a.papua{*/
/*	margin-left: 59px;*/
/*}*/
/*#block-block-25 p.gallery-links a.philippines,*/
/*.photo-browse-all-wrap p.gallery-links a.philippines{*/
/*	margin-left: 50px;*/
/*}*/
/*:root #block-block-25 p.gallery-links a.philippines,*/
/*.photo-browse-all-wrap p.gallery-links a.philippines{*/
/*	margin-left: 54px\0/IE9;*/
/*}*/
/**/
/*#block-block-25 p.gallery-links a.solomon,*/
/*.photo-browse-all-wrap p.gallery-links a.solomon{*/
/*	margin-left: 15px;*/
/*}*/
/**/
/*#block-block-25 p.gallery-links a.solomon,*/
/*.photo-browse-all-wrap p.gallery-links a.solomon{*/
/*	margin-left: 20px\0/IE9;*/
/*}*/
/**/
/*#block-block-25 p.gallery-links a.australia,*/
/*.photo-browse-all-wrap p.gallery-links a.australia{*/
/*	margin-left: 11px;*/
/*}*/
/**/
/*#block-block-25 p.gallery-links a.australia,*/
/*.photo-browse-all-wrap p.gallery-links a.australia{*/
/*	margin-left: 15px\0/IE9;*/
/*}*/

#block-cti_custom_search-0 #cti-custom-search-form {
    background: none repeat scroll 0 0 #F2F2F2;
    width: 300px;
}
#block-cti_custom_search-0 #cti-custom-search-form fieldset {
    border: medium none;
}
#block-cti_custom_search-0 #cti-custom-search-form fieldset legend {
    display: none;
}
#block-cti_custom_search-0 #cti-custom-search-form #edit-search-box-wrapper label {
    float: left;
    width: 73px;
}
#block-cti_custom_search-0 #cti-custom-search-form #edit-search-box-wrapper #edit-search-box {
    float: left;
    margin-right: 5px;
    width: 150px;
}
#block-cti_custom_search-0 #cti-custom-search-form .captcha-admin-links {
    display: none;
}
#block-cti_custom_search-0 #cti-custom-search-form fieldset fieldset {
    display: none;
}
#block-cti_custom_search-0 #cti-custom-search-form #edit-submit-1 {
    float: left;
}
.page-countries .view-cti-partner-countries-block .views-field-field-country-flag-fid{
    float:left;
}

.page-countries .view-display-id-page_1 .views-row
{
    border-bottom: 1px dotted;  
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 20px;
    padding-top: 11px;
    float: left;
    width: 96%;
}

.page-countries .view-cti-partner-countries-block .views-row.views-row-last {
    border-bottom:none;
}

.page-countries .view-cti-partner-countries-block.view-display-id-page_1 .views-row img{ 
    border: 1px solid #C0C0C0;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px;
}

.page-partners .view-cti-partners.view-display-id-page_1 .views-row img{ 
    border: 1px solid #C0C0C0;
    float: left;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px;
}

.page-partners .view-cti-partners .view-content { 
    padding: 10px;
}

.page-partners .view-cti-partners .view-content .views-row { 
    margin-bottom: 20px;
    float: left;
}

.page-partners .view-cti-partners .view-content .views-field-title {
    margin-bottom: 5px;
}

.page-partners .view-cti-partners .view-content .views-field-markup-1 {
    float: right;
    margin-top: -10px;
}

.page-countries .view-cti-partner-countries-block.view-display-id-page_1 .view-content .views-field-body {
    overflow: hidden;
}
.page-countries .view-cti-partner-countries-block.view-display-id-page_1 .view-content .views-field-field-country-description-value {
    overflow: hidden;
}
.page-countries .view-cti-partner-countries-block.view-display-id-page_1 .view-content .views-field-markup {
    margin-left: 87px;
}

#block-block-18 {
    padding: 10px 10px 10px 15px;
}
.more-link{
    /*:left;*/
}

#block-views-latest_events-block_1 .view-footer {
    margin: 0 0 0.2em;
    text-align:right;
}

.banner-more{
    padding-left:10px;
}
.page-questioncenter .view-featured-question.view-display-id-page_1 .view-content .views-row{
    border-bottom: 1px dotted;
    margin-bottom: 10px;
}

.page-questioncenter #content_page #content-area{
    padding:0 15px 10px 15px;
}

.page-questioncenter .view-featured-question .views-field-title{
    float: left;
    width: 100%;
    margin-bottom:5px;
}

.page-questioncenter .view-featured-question .views-field-title a{
    font-weight: bold;
}

.page-questioncenter .view-featured-question .views-field-markup-1{
    float: left;
    width: 100%;
    margin-bottom:5px;
}

.page-questioncenter .view-featured-question .views-field-markup-1 .label_q,
.page-questioncenter .view-featured-question .views-field-markup-2 .label_a{
    font-size: 14px;
}

.page-questioncenter .view-featured-question .views-field-markup-2{  
    width: 100%;
    margin-bottom:5px;
}

.page-questioncenter .view-featured-question .views-field-body span,.view-featured-question .views-field-body p{
    float: left;  
}

.q-more{
    font-weight:bold;
    padding-left:7px;
}

#rlLanding_common_container .q_label{
    font-weight:bold;
}
#rlLanding_common_container .fieldDateLabel{
    font-weight:bold;
}

.rl_answer{
    margin-top:20px;
    margin-bottom: 10px;
}

.rl_attached_files{  
    margin-bottom: 10px;
}

#node-6604 table td{
    padding:5px 5px 0px 5px;
}
#node-6604 table{
    border-collapse:separate;

}

#block-views-document_left_block-block_2,#block-views-document_left_block-block_3{
    background-color: #FFFFFF;
    border: 1px solid #ADD8E6;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;  
}

#block-views-document_left_block-block_1{
    background-color: #FFFFFF;
    border-left: 1px solid #ADD8E6;
    border-top: 1px solid #ADD8E6;
    border-right:1px solid #ADD8E6;
    border-bottom:none;
    float: left;
    margin-bottom: 10px;
    padding: 8px;
    width: 250px;   
}

#block-views-document_left_block-block_1{
    background-color: #FFFFFF;
    border-left: 1px solid #ADD8E6;
    border-top: 1px solid #ADD8E6;
    border-right:1px solid #ADD8E6;
    border-bottom:none;
    float: left;
    margin-bottom: -10px;
    padding: 8px;
    width: 250px;   
}
#block-views-a9315f91fcbbf526e87c1c208bab9507{
    background-color: #FFFFFF;
    border-left: 1px solid #ADD8E6;
    border-bottom: 1px solid #ADD8E6;
    border-right:1px solid #ADD8E6;
    border-top:none;
    float: left;
    margin-bottom:10px;
    padding: 8px;
    width: 250px;   
}

#block-views-document_left_block-block_1 li,#block-views-document_left_block-block_2 li,#block-views-document_left_block-block_3 li{
    border-bottom: 1px dotted #C0C0C0;
    list-style: none outside none;
    margin: 0;
    padding: 5px 0 5px 19px;
    background: url("images/arrow.png") no-repeat scroll 0 10px transparent;
}

.quicktabs_tabpage .view-empty {
    padding-left: 15px;
}

.fourthMiddleContainder {
    float: left;
    width: 650px;
    margin-top:10px;
}

.fourthMiddleContainder .div_border {
    background:none !important;
    border:none !important;
    padding:0px !important;
    margin:0px  !important;
    width: 650px !important;
}


.node_body_data .body_txt li, #tinymce li, .node-inner .content .node_body_data li, #rlLanding_common_container .rl_rightContainer li {
    list-style: none outside none;
    margin: 0;
    padding: 2px 0 0px 14px;
    background: url("images/arrow.png") no-repeat scroll 0 6px transparent;
}

.node_body_data .body_txt ul, #tinymce ul, .node-inner .content .node_body_data ul, #rlLanding_common_container .rl_rightContainer ul  {
    margin-bottom: 10px;
}

.content .node_body_data .content_file_links li {
    background: none;
    padding: 0px;
}

#block-apachesolr_search-type {
    background-color: #FFFFFF;
    border-top: 1px solid #ADD8E6;
    border-left: 1px solid #ADD8E6;
    border-right: 1px solid #ADD8E6;
    border-bottom: 0px solid #ADD8E6;
    float: left;
    padding: 8px;
    width: 250px;
}

#block-apachesolr_search-im_vid_2,
#block-apachesolr_search-im_vid_5,
#block-apachesolr_search-im_vid_6 {
    background-color: #FFFFFF;
    border-top: 0px solid #ADD8E6;
    border-left: 1px solid #ADD8E6;
    border-right: 1px solid #ADD8E6;
    border-bottom: 0px solid #ADD8E6;
    float: left;
    padding: 8px;
    width: 250px;
}

#block-apachesolr_search-language {
    background-color: #FFFFFF;
    border-top: 0px solid #ADD8E6;
    border-left: 1px solid #ADD8E6;
    border-right: 1px solid #ADD8E6;
    border-bottom: 1px solid #ADD8E6;
    float: left;
    padding: 8px;
    width: 250px;
    margin-bottom: 10px;
}

#block-apachesolr_search-type li,
#block-apachesolr_search-im_vid_2 li,
#block-apachesolr_search-im_vid_5 li,
#block-apachesolr_search-im_vid_6 li,
#block-apachesolr_search-language li{
    background: url("images/arrow.png") no-repeat scroll 0 4px transparent;
    list-style: none outside none !important;
    padding: 0 0 4px 14px !important;
    margin:0px !important;
}


#block-apachesolr_search-type ul,
#block-apachesolr_search-im_vid_2 ul,
#block-apachesolr_search-im_vid_5 ul,
#block-apachesolr_search-im_vid_6 ul,
#block-apachesolr_search-language ul{
    margin: 0px;
}

#block-block-17 .content #plusone_div {
    float: left;
    margin-left: 94px;
    margin-top: -43px;
    width: 215px;
}

tbody{
    border:none !important;
}

.node-type-page .print_Ver {
    display: none;
}
.node-type-page #block-views-document_left_block-block_4,
.node-type-page #block-views-document_left_block-block_5{
    float: left;
    width: 210px;
}
.node-type-page #block-views-document_left_block-block_6{
    float: left;
    width: 200px;
}
.node-type-page #block-views-b022977a3eece2775dcd43d06dde4f38{
    clear: both;
    float: left;
    margin-right: 25px;
    width: 48%;
    margin-bottom: 20px;
}
.node-type-page #block-views-Search_resourc_block-block_2{
    /*float: left;*/
    width: 345px;
}
.node-type-page #views-exposed-form-Search-resourc-block-block-2 #edit-title,
.node-type-page #views-exposed-form-Search-resourc-block-block-2 #edit-body{
    width: 175px;
}
.node-type-page #views-exposed-form-Search-resourc-block-block-2 .exposedViewInputContainer{
    padding-left: 0 !important;
    width: 330px !important;
}
.node-type-page #block-pubdlcnt-1{
    float: left;
    width: 48%;
    border: medium none;
}
.node-type-page .views-exposed-widgets{
    width: 400px;
}
.acronyms {
    color: rgb(20, 135, 226);
}
.share_facebook {
    background: url('images/facebook_16.png') no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    height: 16px;
    width: 16px;
}
.share_twitter {
    background: url('images/twitter_16.png') no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}

.dhtml-menu ul li a {
    font-size: 11px !important;
}

.highslide-full-expand{
    display: none;
}

#block-block-22 ul {
    margin-left: 3px;
}
.featured-photo {
	height: 130px;
	padding: 0 5px 7px 15px;
}
.featured-photo-left {
	float: left;
	margin-right: 11px;
	width: 90px;
}
.featured-photo-left.last {
	margin-right: 0;
}
.featured-photo-left .text-link {
	text-align: center;
}